In [1]:
import pandas as pd
import numpy as np

In [2]:
#u_data-> dataframe으로 변경
u_data = []
with open('./ml-100k/u.data','r',encoding='UTF-8') as f:
    for line in f.readlines():
        u_data.append(line.strip().split('\t'))
    
u_data = pd.DataFrame(u_data, columns=["userID","itemID","rating","timestamp"])  
u_data.head()

  userID itemID rating  timestamp
0    196    242      3  881250949
1    186    302      3  891717742
2     22    377      1  878887116
3    244     51      2  880606923
4    166    346      1  886397596

In [3]:
#u.item -> dataframe으로 변경
u_item = []
with open("./ml-100k/u.item",'r',encoding='ISO-8859-1') as f:
    for line in f.readlines():
        u_item.append(line.strip().split("|")[:-4]) #README에서 item의 컬럼은 20개 였으나 해당 데이터에는 24개의 컬럼이 존재하여 4개의 컬럼을 제외시켰습니다
        

        
movies_info = """movie id | movie title | release date | video release date |
IMDb URL | unknown | Action | Adventure | Animation |
Children's | Comedy | Crime | Documentary | Drama | Fantasy |
Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
Thriller | War | Western"""        
        
movies_info = movies_info.split(" | ")    

u_item = pd.DataFrame(u_item,columns=movies_info)
u_item

,movie id,movie title,release date,video release date |\nIMDb URL,unknown,Action,Adventure,Animation |\nChildren's,Comedy,Crime,Documentary,Drama,Fantasy |\nFilm-Noir,Horror,Musical,Mystery,Romance,Sci-Fi |\nThriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,3,Four Rooms (1995),01-Jan-1995,,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Get Shorty (1995),01-Jan-1995,,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1679,1680,Sliding Doors (1998),01-Jan-1998,,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1680,1681,You So Crazy (1994),01-Jan-1994,,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [4]:
#u.user -> dataframe으로 변경
u_user = []
with open("./ml-100k/u.user",'r',encoding='UTF-8') as f:
    for line in f.readlines():
        u_user.append(line.strip().split("|")) 
        
user_info = """user id | age | gender | occupation | zip code"""        
        
user_info = user_info.split(" | ")    

u_user = pd.DataFrame(u_user,columns=user_info)
u_user

    user id age gender     occupation zip code
0         1  24      M     technician    85711
1         2  53      F          other    94043
2         3  23      M         writer    32067
3         4  24      M     technician    43537
4         5  33      F          other    15213
..      ...  ..    ...            ...      ...
938     939  26      F        student    33319
939     940  32      M  administrator    02215
940     941  20      M        student    97229
941     942  48      F      librarian    78209
942     943  22      M        student    77841

[943 rows x 5 columns]

In [5]:
#u.genre ->dataframe으로 변경
genre=[]
with open("./ml-100k/u.genre",'r',encoding='UTF-8') as f:
    for line in f.readlines():
        genre.append(line.strip().split("|")) 
genre = pd.DataFrame(genre,columns=["genre_name","genre_ID"]) #어차피 Index와 Genre_ID가 같음 나중에 없애봐
print(genre)

#u.occupation-> dataframe으로 변경
occupation =[]
with open("./ml-100k/u.occupation", 'r',encoding='UTF-8') as f:
    for line in f.readlines():
        occupation.append(line.strip().split("|"))
        
occupation = pd.DataFrame(occupation,columns=["job"])
occupation

     genre_name genre_ID
0       unknown        0
1        Action        1
2     Adventure        2
3     Animation        3
4    Children's        4
5        Comedy        5
6         Crime        6
7   Documentary        7
8         Drama        8
9       Fantasy        9
10    Film-Noir       10
11       Horror       11
12      Musical       12
13      Mystery       13
14      Romance       14
15       Sci-Fi       15
16     Thriller       16
17          War       17
18      Western       18
19                  None

              job
0   administrator
1          artist
2          doctor
3        educator
4        engineer
5   entertainment
6       executive
7      healthcare
8       homemaker
9          lawyer
10      librarian
11      marketing
12           none
13          other
14     programmer
15        retired
16       salesman
17      scientist
18        student
19     technician
20         writer

In [6]:
# 1.전체이용자에서 가장 시청률이 높은 영화 TOP 100
result = u_data.value_counts(subset="itemID", ascending=False)

result = pd.DataFrame(result)
top_id = result.index[:100] #영화 TOP 100 ID

print("1. 전체 사용자에게 가장 시청률이 높은 영화 TOP 100\n")

for idx in range(100):
    name =  u_item.loc[u_item['movie id']==top_id[idx],"movie title"].values[0]
    print("{0}등 영화 제목 : {1}".format(idx+1,name))

1. 전체 사용자에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Contact (1997)
3등 영화 제목 : Fargo (1996)
4등 영화 제목 : Return of the Jedi (1983)
5등 영화 제목 : Liar Liar (1997)
6등 영화 제목 : English Patient, The (1996)
7등 영화 제목 : Scream (1996)
8등 영화 제목 : Toy Story (1995)
9등 영화 제목 : Air Force One (1997)
10등 영화 제목 : Independence Day (ID4) (1996)
11등 영화 제목 : Raiders of the Lost Ark (1981)
12등 영화 제목 : Godfather, The (1972)
13등 영화 제목 : Pulp Fiction (1994)
14등 영화 제목 : Twelve Monkeys (1995)
15등 영화 제목 : Silence of the Lambs, The (1991)
16등 영화 제목 : Jerry Maguire (1996)
17등 영화 제목 : Rock, The (1996)
18등 영화 제목 : Empire Strikes Back, The (1980)
19등 영화 제목 : Star Trek: First Contact (1996)
20등 영화 제목 : Back to the Future (1985)
21등 영화 제목 : Titanic (1997)
22등 영화 제목 : Mission: Impossible (1996)
23등 영화 제목 : Fugitive, The (1993)
24등 영화 제목 : Indiana Jones and the Last Crusade (1989)
25등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
26등 영화 제목 : Princess Bride, The (1987)
27등 영화 제목 : Forrest Gump (1994)
28등 영화 제목 : Saint, The (1997)
29등 영화 제목 : Monty Python and the Holy Grail (1974)
30등 영화 제목 : Full Monty, The (1997)
31등 영화 제목 : Men in Black (1997)
32등 영화 제목 : Terminator, The (1984)
33등 영화 제목 : E.T. the Extra-Terrestrial (1982)
34등 영화 제목 : Dead Man Walking (1995)
35등 영화 제목 : Schindler's List (1993)
36등 영화 제목 : Leaving Las Vegas (1995)
37등 영화 제목 : L.A. Confidential (1997)
38등 영화 제목 : Braveheart (1995)
39등 영화 제목 : Conspiracy Theory (1997)
40등 영화 제목 : Terminator 2: Judgment Day (1991)
41등 영화 제목 : Mr. Holland's Opus (1995)
42등 영화 제목 : Birdcage, The (1996)
43등 영화 제목 : Twister (1996)
44등 영화 제목 : Alien (1979)
45등 영화 제목 : When Harry Met Sally... (1989)
46등 영화 제목 : Aliens (1986)
47등 영화 제목 : Shawshank Redemption, The (1994)
48등 영화 제목 : Jaws (1975)
49등 영화 제목 : Groundhog Day (1993)
50등 영화 제목 : Amadeus (1984)
51등 영화 제목 : Apollo 13 (1995)
52등 영화 제목 : Blade Runner (1982)
53등 영화 제목 : Truth About Cats & Dogs, The (1996)
54등 영화 제목 : Sense and Sensibility (1995)
55등 영화 제목 : Usual Suspects, The (1995)
56등 영화 제목 : Ransom (1996)
57등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
58등 영화 제목 : Jurassic Park (1993)
59등 영화 제목 : 2001: A Space Odyssey (1968)
60등 영화 제목 : Evita (1996)
61등 영화 제목 : Raising Arizona (1987)
62등 영화 제목 : Dances with Wolves (1990)
63등 영화 제목 : Chasing Amy (1997)
64등 영화 제목 : Broken Arrow (1996)
65등 영화 제목 : Dead Poets Society (1989)
66등 영화 제목 : Blues Brothers, The (1980)
67등 영화 제목 : Four Weddings and a Funeral (1994)
68등 영화 제목 : Game, The (1997)
69등 영화 제목 : Trainspotting (1996)
70등 영화 제목 : Fish Called Wanda, A (1988)
71등 영화 제목 : Wizard of Oz, The (1939)
72등 영화 제목 : Phenomenon (1996)
73등 영화 제목 : Star Trek: The Wrath of Khan (1982)
74등 영화 제목 : Die Hard (1988)
75등 영화 제목 : Casablanca (1942)
76등 영화 제목 : Sting, The (1973)
77등 영화 제목 : Dante's Peak (1997)
78등 영화 제목 : Devil's Own, The (1997)
79등 영화 제목 : Graduate, The (1967)
80등 영화 제목 : Psycho (1960)
81등 영화 제목 : Seven (Se7en) (1995)
82등 영화 제목 : Time to Kill, A (1996)
83등 영화 제목 : It's a Wonderful Life (1946)
84등 영화 제목 : In & Out (1997)
85등 영화 제목 : Speed (1994)
86등 영화 제목 : Hunt for Red October, The (1990)
87등 영화 제목 : Stand by Me (1986)
88등 영화 제목 : GoodFellas (1990)
89등 영화 제목 : Heat (1995)
90등 영화 제목 : Sound of Music, The (1965)
91등 영화 제목 : Clockwork Orange, A (1971)
92등 영화 제목 : Apocalypse Now (1979)
93등 영화 제목 : Courage Under Fire (1996)
94등 영화 제목 : Top Gun (1986)
95등 영화 제목 : Lion King, The (1994)
96등 영화 제목 : Volcano (1997)
97등 영화 제목 : Aladdin (1992)
98등 영화 제목 : To Kill a Mockingbird (1962)
99등 영화 제목 : Babe (1995)
100등 영화 제목 : Murder at 1600 (1997)

In [7]:
# 2. gender를 기준으로 시청률이 높은 영화 TOP100

#간소화한 user_data를 만든다. (user_id, gender만 포험함 데이터 셋)
gender_user = u_user.loc[:,["user id","gender"]]
#u_data와 column명을 맞추기 위해 바꿔준다.
gender_user.columns = ["userID" , "gender"]

#gender_user와 u_data를 inner joing한다.
join_data = pd.merge(u_data, gender_user)
join_data.head()

#1. 여자만 따로 빼내기
F_join = join_data.loc[join_data['gender']=='F']
F_result = F_join.value_counts(subset="itemID", ascending=False).index[:100]

print("1. 여자 사용자에게 가장 시청률이 높은 영화 TOP 100\n")

for idx in range(100):
    name =  u_item.loc[u_item['movie id']==F_result[idx],"movie title"].values[0]
    print("{0}등 영화 제목 : {1}".format(idx+1,name))
    
#2. 남자만 따로 뺴내기
M_join = join_data.loc[join_data['gender']=='M']
M_result = M_join.value_counts(subset="itemID", ascending=False).index[:100]

print("\n1. 남자 사용자에게 가장 시청률이 높은 영화 TOP 100\n")

for idx in range(100):
    name =  u_item.loc[u_item['movie id']==M_result[idx],"movie title"].values[0]
    print("{0}등 영화 제목 : {1}".format(idx+1,name))

1. 여자 사용자에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : English Patient, The (1996)
2등 영화 제목 : Star Wars (1977)
3등 영화 제목 : Scream (1996)
4등 영화 제목 : Liar Liar (1997)
5등 영화 제목 : Contact (1997)
6등 영화 제목 : Air Force One (1997)
7등 영화 제목 : Fargo (1996)
8등 영화 제목 : Return of the Jedi (1983)
9등 영화 제목 : Toy Story (1995)
10등 영화 제목 : Jerry Maguire (1996)
11등 영화 제목 : Independence Day (ID4) (1996)
12등 영화 제목 : Godfather, The (1972)
13등 영화 제목 : Titanic (1997)
14등 영화 제목 : Silence of the Lambs, The (1991)
15등 영화 제목 : Full Monty, The (1997)
16등 영화 제목 : Truth About Cats & Dogs, The (1996)
17등 영화 제목 : Sense and Sensibility (1995)
18등 영화 제목 : Raiders of the Lost Ark (1981)
19등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
20등 영화 제목 : Mr. Holland's Opus (1995)
21등 영화 제목 : Empire Strikes Back, The (1980)
22등 영화 제목 : Rock, The (1996)
23등 영화 제목 : Back to the Future (1985)
24등 영화 제목 : Princess Bride, The (1987)
25등 영화 제목 : Birdcage, The (1996)
26등 영화 제목 : When Harry Met Sally... (1989)
27등 영화 제목 : E.T. the Extra-Terrestrial (1982)
28등 영화 제목 : Conspiracy Theory (1997)
29등 영화 제목 : Saint, The (1997)
30등 영화 제목 : Pulp Fiction (1994)
31등 영화 제목 : Twister (1996)
32등 영화 제목 : Evita (1996)
33등 영화 제목 : Dead Man Walking (1995)
34등 영화 제목 : Twelve Monkeys (1995)
35등 영화 제목 : Men in Black (1997)
36등 영화 제목 : Schindler's List (1993)
37등 영화 제목 : Forrest Gump (1994)
38등 영화 제목 : Indiana Jones and the Last Crusade (1989)
39등 영화 제목 : Mission: Impossible (1996)
40등 영화 제목 : Amadeus (1984)
41등 영화 제목 : L.A. Confidential (1997)
42등 영화 제목 : In & Out (1997)
43등 영화 제목 : Sound of Music, The (1965)
44등 영화 제목 : Leaving Las Vegas (1995)
45등 영화 제목 : Dante's Peak (1997)
46등 영화 제목 : Star Trek: First Contact (1996)
47등 영화 제목 : Phenomenon (1996)
48등 영화 제목 : Fugitive, The (1993)
49등 영화 제목 : Ransom (1996)
50등 영화 제목 : Devil's Own, The (1997)
51등 영화 제목 : Wizard of Oz, The (1939)
52등 영화 제목 : To Kill a Mockingbird (1962)
53등 영화 제목 : Emma (1996)
54등 영화 제목 : Dances with Wolves (1990)
55등 영화 제목 : Sleepless in Seattle (1993)
56등 영화 제목 : Groundhog Day (1993)
57등 영화 제목 : Monty Python and the Holy Grail (1974)
58등 영화 제목 : Lion King, The (1994)
59등 영화 제목 : Apollo 13 (1995)
60등 영화 제목 : Fish Called Wanda, A (1988)
61등 영화 제목 : Dead Poets Society (1989)
62등 영화 제목 : Graduate, The (1967)
63등 영화 제목 : Jaws (1975)
64등 영화 제목 : Sabrina (1995)
65등 영화 제목 : Shawshank Redemption, The (1994)
66등 영화 제목 : Braveheart (1995)
67등 영화 제목 : Time to Kill, A (1996)
68등 영화 제목 : Four Weddings and a Funeral (1994)
69등 영화 제목 : Stand by Me (1986)
70등 영화 제목 : Psycho (1960)
71등 영화 제목 : Game, The (1997)
72등 영화 제목 : Jurassic Park (1993)
73등 영화 제목 : Murder at 1600 (1997)
74등 영화 제목 : Chasing Amy (1997)
75등 영화 제목 : Terminator, The (1984)
76등 영화 제목 : Beauty and the Beast (1991)
77등 영화 제목 : Field of Dreams (1989)
78등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
79등 영화 제목 : Babe (1995)
80등 영화 제목 : Ghost (1990)
81등 영화 제목 : Good Will Hunting (1997)
82등 영화 제목 : First Wives Club, The (1996)
83등 영화 제목 : My Best Friend's Wedding (1997)
84등 영화 제목 : Raising Arizona (1987)
85등 영화 제목 : Courage Under Fire (1996)
86등 영화 제목 : Aladdin (1992)
87등 영화 제목 : It's a Wonderful Life (1946)
88등 영화 제목 : While You Were Sleeping (1995)
89등 영화 제목 : Fried Green Tomatoes (1991)
90등 영화 제목 : Sting, The (1973)
91등 영화 제목 : 2001: A Space Odyssey (1968)
92등 영화 제목 : Mother (1996)
93등 영화 제목 : Mary Poppins (1964)
94등 영화 제목 : Grease (1978)
95등 영화 제목 : Everyone Says I Love You (1996)
96등 영화 제목 : Alien (1979)
97등 영화 제목 : Casablanca (1942)
98등 영화 제목 : Seven Years in Tibet (1997)
99등 영화 제목 : Postino, Il (1994)
100등 영화 제목 : Fly Away Home (1996)

1. 남자 사용자에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Return of the Jedi (1983)
3등 영화 제목 : Fargo (1996)
4등 영화 제목 : Contact (1997)
5등 영화 제목 : Liar Liar (1997)
6등 영화 제목 : Scream (1996)
7등 영화 제목 : Toy Story (1995)
8등 영화 제목 : English Patient, The (1996)
9등 영화 제목 : Raiders of the Lost Ark (1981)
10등 영화 제목 : Independence Day (ID4) (1996)
11등 영화 제목 : Pulp Fiction (1994)
12등 영화 제목 : Twelve Monkeys (1995)
13등 영화 제목 : Godfather, The (1972)
14등 영화 제목 : Air Force One (1997)
15등 영화 제목 : Star Trek: First Contact (1996)
16등 영화 제목 : Silence of the Lambs, The (1991)
17등 영화 제목 : Rock, The (1996)
18등 영화 제목 : Empire Strikes Back, The (1980)
19등 영화 제목 : Jerry Maguire (1996)
20등 영화 제목 : Mission: Impossible (1996)
21등 영화 제목 : Fugitive, The (1993)
22등 영화 제목 : Back to the Future (1985)
23등 영화 제목 : Indiana Jones and the Last Crusade (1989)
24등 영화 제목 : Monty Python and the Holy Grail (1974)
25등 영화 제목 : Titanic (1997)
26등 영화 제목 : Forrest Gump (1994)
27등 영화 제목 : Terminator 2: Judgment Day (1991)
28등 영화 제목 : Terminator, The (1984)
29등 영화 제목 : Alien (1979)
30등 영화 제목 : Princess Bride, The (1987)
31등 영화 제목 : Braveheart (1995)
32등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
33등 영화 제목 : Saint, The (1997)
34등 영화 제목 : Aliens (1986)
35등 영화 제목 : Blade Runner (1982)
36등 영화 제목 : Leaving Las Vegas (1995)
37등 영화 제목 : Men in Black (1997)
38등 영화 제목 : L.A. Confidential (1997)
39등 영화 제목 : Shawshank Redemption, The (1994)
40등 영화 제목 : Schindler's List (1993)
41등 영화 제목 : Full Monty, The (1997)
42등 영화 제목 : Dead Man Walking (1995)
43등 영화 제목 : Jaws (1975)
44등 영화 제목 : Usual Suspects, The (1995)
45등 영화 제목 : E.T. the Extra-Terrestrial (1982)
46등 영화 제목 : Groundhog Day (1993)
47등 영화 제목 : Apollo 13 (1995)
48등 영화 제목 : Twister (1996)
49등 영화 제목 : Conspiracy Theory (1997)
50등 영화 제목 : Blues Brothers, The (1980)
51등 영화 제목 : Birdcage, The (1996)
52등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
53등 영화 제목 : When Harry Met Sally... (1989)
54등 영화 제목 : Broken Arrow (1996)
55등 영화 제목 : 2001: A Space Odyssey (1968)
56등 영화 제목 : Mr. Holland's Opus (1995)
57등 영화 제목 : Trainspotting (1996)
58등 영화 제목 : Jurassic Park (1993)
59등 영화 제목 : Amadeus (1984)
60등 영화 제목 : Raising Arizona (1987)
61등 영화 제목 : Star Trek: The Wrath of Khan (1982)
62등 영화 제목 : Die Hard (1988)
63등 영화 제목 : Ransom (1996)
64등 영화 제목 : Chasing Amy (1997)
65등 영화 제목 : Game, The (1997)
66등 영화 제목 : Four Weddings and a Funeral (1994)
67등 영화 제목 : Casablanca (1942)
68등 영화 제목 : GoodFellas (1990)
69등 영화 제목 : Dances with Wolves (1990)
70등 영화 제목 : Dead Poets Society (1989)
71등 영화 제목 : Hunt for Red October, The (1990)
72등 영화 제목 : Heat (1995)
73등 영화 제목 : Sting, The (1973)
74등 영화 제목 : Seven (Se7en) (1995)
75등 영화 제목 : Apocalypse Now (1979)
76등 영화 제목 : Fish Called Wanda, A (1988)
77등 영화 제목 : Clockwork Orange, A (1971)
78등 영화 제목 : Speed (1994)
79등 영화 제목 : Wizard of Oz, The (1939)
80등 영화 제목 : Psycho (1960)
81등 영화 제목 : Evita (1996)
82등 영화 제목 : Starship Troopers (1997)
83등 영화 제목 : Truth About Cats & Dogs, The (1996)
84등 영화 제목 : Graduate, The (1967)
85등 영화 제목 : Brazil (1985)
86등 영화 제목 : Mars Attacks! (1996)
87등 영화 제목 : Sense and Sensibility (1995)
88등 영화 제목 : Phenomenon (1996)
89등 영화 제목 : It's a Wonderful Life (1946)
90등 영화 제목 : Top Gun (1986)
91등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
92등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
93등 영화 제목 : Godfather: Part II, The (1974)
94등 영화 제목 : Devil's Own, The (1997)
95등 영화 제목 : Time to Kill, A (1996)
96등 영화 제목 : Dante's Peak (1997)
97등 영화 제목 : Stand by Me (1986)
98등 영화 제목 : Volcano (1997)
99등 영화 제목 : People vs. Larry Flynt, The (1996)
100등 영화 제목 : True Lies (1994)

In [31]:
#3. 직업별로 가장 인기있는 영화 TOP 100 출력하기

#간소화한 user_data를 만든다. (user_id, occupation만을 포험함 데이터 셋)
occupation_user = u_user.loc[:,["user id","occupation"]]
#u_data와 column명을 맞추기 위해 바꿔준다.
occupation_user.columns = ["userID" , "occupation"]

#gender_user와 u_data를 inner joing한다.
join_data = pd.merge(u_data, occupation_user)

for i in range(len(occupation)):
    specific_join = join_data.loc[join_data['occupation']==occupation['job'][i]] #occupation별로 데이터 뽑기
    occupation_result = specific_join.value_counts(subset='itemID', ascending=False).index[:100] #시청률 상위 100개 뽑기
    
    print("\n{0}. {1}에게 가장 시청률이 높은 영화 TOP 100\n".format(i+1,occupation['job'][i]))
    
    for idx in range(100):
        name = u_item.loc[u_item['movie id']==occupation_result[idx], "movie title"].values[0] #ㅅ
        print("{0}등 영화 제목 : {1}".format(idx+1, name))

1. administrator에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : English Patient, The (1996)
2등 영화 제목 : Star Wars (1977)
3등 영화 제목 : Return of the Jedi (1983)
4등 영화 제목 : Jerry Maguire (1996)
5등 영화 제목 : Air Force One (1997)
6등 영화 제목 : Contact (1997)
7등 영화 제목 : Liar Liar (1997)
8등 영화 제목 : Fargo (1996)
9등 영화 제목 : Silence of the Lambs, The (1991)
10등 영화 제목 : Scream (1996)
11등 영화 제목 : Independence Day (ID4) (1996)
12등 영화 제목 : Godfather, The (1972)
13등 영화 제목 : Full Monty, The (1997)
14등 영화 제목 : Back to the Future (1985)
15등 영화 제목 : Toy Story (1995)
16등 영화 제목 : Pulp Fiction (1994)
17등 영화 제목 : Twelve Monkeys (1995)
18등 영화 제목 : Raiders of the Lost Ark (1981)
19등 영화 제목 : Empire Strikes Back, The (1980)
20등 영화 제목 : Star Trek: First Contact (1996)
21등 영화 제목 : Dead Man Walking (1995)
22등 영화 제목 : Mission: Impossible (1996)
23등 영화 제목 : In & Out (1997)
24등 영화 제목 : Alien (1979)
25등 영화 제목 : Twister (1996)
26등 영화 제목 : To Kill a Mockingbird (1962)
27등 영화 제목 : Birdcage, The (1996)
28등 영화 제목 : Indiana Jones and the Last Crusade (1989)
29등 영화 제목 : Sting, The (1973)
30등 영화 제목 : Fugitive, The (1993)
31등 영화 제목 : Blade Runner (1982)
32등 영화 제목 : 2001: A Space Odyssey (1968)
33등 영화 제목 : Rock, The (1996)
34등 영화 제목 : Men in Black (1997)
35등 영화 제목 : E.T. the Extra-Terrestrial (1982)
36등 영화 제목 : Fish Called Wanda, A (1988)
37등 영화 제목 : Forrest Gump (1994)
38등 영화 제목 : Mr. Holland's Opus (1995)
39등 영화 제목 : When Harry Met Sally... (1989)
40등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
41등 영화 제목 : Wizard of Oz, The (1939)
42등 영화 제목 : Casablanca (1942)
43등 영화 제목 : Broken Arrow (1996)
44등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
45등 영화 제목 : Evita (1996)
46등 영화 제목 : Groundhog Day (1993)
47등 영화 제목 : Jaws (1975)
48등 영화 제목 : Princess Bride, The (1987)
49등 영화 제목 : Truth About Cats & Dogs, The (1996)
50등 영화 제목 : Titanic (1997)
51등 영화 제목 : Dances with Wolves (1990)
52등 영화 제목 : Jurassic Park (1993)
53등 영화 제목 : Aliens (1986)
54등 영화 제목 : Courage Under Fire (1996)
55등 영화 제목 : Time to Kill, A (1996)
56등 영화 제목 : Terminator 2: Judgment Day (1991)
57등 영화 제목 : Annie Hall (1977)
58등 영화 제목 : Shawshank Redemption, The (1994)
59등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
60등 영화 제목 : Apollo 13 (1995)
61등 영화 제목 : Terminator, The (1984)
62등 영화 제목 : Mother (1996)
63등 영화 제목 : Dante's Peak (1997)
64등 영화 제목 : Braveheart (1995)
65등 영화 제목 : Four Weddings and a Funeral (1994)
66등 영화 제목 : Amadeus (1984)
67등 영화 제목 : Devil's Own, The (1997)
68등 영화 제목 : Blues Brothers, The (1980)
69등 영화 제목 : Star Trek: The Wrath of Khan (1982)
70등 영화 제목 : Field of Dreams (1989)
71등 영화 제목 : Leaving Las Vegas (1995)
72등 영화 제목 : Monty Python and the Holy Grail (1974)
73등 영화 제목 : Graduate, The (1967)
74등 영화 제목 : Heathers (1989)
75등 영화 제목 : Stand by Me (1986)
76등 영화 제목 : L.A. Confidential (1997)
77등 영화 제목 : Schindler's List (1993)
78등 영화 제목 : Conspiracy Theory (1997)
79등 영화 제목 : Speed (1994)
80등 영화 제목 : Rear Window (1954)
81등 영화 제목 : Hunt for Red October, The (1990)
82등 영화 제목 : Apocalypse Now (1979)
83등 영화 제목 : Psycho (1960)
84등 영화 제목 : Raising Arizona (1987)
85등 영화 제목 : Shining, The (1980)
86등 영화 제목 : Sense and Sensibility (1995)
87등 영화 제목 : Dead Poets Society (1989)
88등 영화 제목 : Phenomenon (1996)
89등 영화 제목 : Sabrina (1995)
90등 영화 제목 : Much Ado About Nothing (1993)
91등 영화 제목 : Fried Green Tomatoes (1991)
92등 영화 제목 : George of the Jungle (1997)
93등 영화 제목 : Bridge on the River Kwai, The (1957)
94등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
95등 영화 제목 : M*A*S*H (1970)
96등 영화 제목 : Usual Suspects, The (1995)
97등 영화 제목 : Eraser (1996)
98등 영화 제목 : Postino, Il (1994)
99등 영화 제목 : Die Hard (1988)
100등 영화 제목 : Citizen Kane (1941)
administrator

2. artist에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Return of the Jedi (1983)
3등 영화 제목 : Liar Liar (1997)
4등 영화 제목 : Contact (1997)
5등 영화 제목 : Fargo (1996)
6등 영화 제목 : English Patient, The (1996)
7등 영화 제목 : Raiders of the Lost Ark (1981)
8등 영화 제목 : Fugitive, The (1993)
9등 영화 제목 : Toy Story (1995)
10등 영화 제목 : Godfather, The (1972)
11등 영화 제목 : Scream (1996)
12등 영화 제목 : Air Force One (1997)
13등 영화 제목 : Chasing Amy (1997)
14등 영화 제목 : Twelve Monkeys (1995)
15등 영화 제목 : Blade Runner (1982)
16등 영화 제목 : Leaving Las Vegas (1995)
17등 영화 제목 : Aliens (1986)
18등 영화 제목 : Pulp Fiction (1994)
19등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
20등 영화 제목 : Amadeus (1984)
21등 영화 제목 : Terminator 2: Judgment Day (1991)
22등 영화 제목 : Schindler's List (1993)
23등 영화 제목 : Titanic (1997)
24등 영화 제목 : Conspiracy Theory (1997)
25등 영화 제목 : 2001: A Space Odyssey (1968)
26등 영화 제목 : L.A. Confidential (1997)
27등 영화 제목 : Citizen Kane (1941)
28등 영화 제목 : Vertigo (1958)
29등 영화 제목 : Evita (1996)
30등 영화 제목 : Casablanca (1942)
31등 영화 제목 : Wizard of Oz, The (1939)
32등 영화 제목 : Lone Star (1996)
33등 영화 제목 : Nightmare Before Christmas, The (1993)
34등 영화 제목 : Babe (1995)
35등 영화 제목 : Star Trek: First Contact (1996)
36등 영화 제목 : Silence of the Lambs, The (1991)
37등 영화 제목 : Empire Strikes Back, The (1980)
38등 영화 제목 : Sting, The (1973)
39등 영화 제목 : Princess Bride, The (1987)
40등 영화 제목 : Raising Arizona (1987)
41등 영화 제목 : Shawshank Redemption, The (1994)
42등 영화 제목 : Back to the Future (1985)
43등 영화 제목 : Godfather: Part II, The (1974)
44등 영화 제목 : Psycho (1960)
45등 영화 제목 : When Harry Met Sally... (1989)
46등 영화 제목 : Brazil (1985)
47등 영화 제목 : Star Trek: The Wrath of Khan (1982)
48등 영화 제목 : Alien (1979)
49등 영화 제목 : Mighty Aphrodite (1995)
50등 영화 제목 : Fish Called Wanda, A (1988)
51등 영화 제목 : Fantasia (1940)
52등 영화 제목 : Beauty and the Beast (1991)
53등 영화 제목 : Terminator, The (1984)
54등 영화 제목 : E.T. the Extra-Terrestrial (1982)
55등 영화 제목 : Trainspotting (1996)
56등 영화 제목 : James and the Giant Peach (1996)
57등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
58등 영화 제목 : Postino, Il (1994)
59등 영화 제목 : Snow White and the Seven Dwarfs (1937)
60등 영화 제목 : Maltese Falcon, The (1941)
61등 영화 제목 : Much Ado About Nothing (1993)
62등 영화 제목 : Mary Poppins (1964)
63등 영화 제목 : Boogie Nights (1997)
64등 영화 제목 : Forrest Gump (1994)
65등 영화 제목 : Dead Man Walking (1995)
66등 영화 제목 : Full Monty, The (1997)
67등 영화 제목 : Independence Day (ID4) (1996)
68등 영화 제목 : Good Will Hunting (1997)
69등 영화 제목 : Manchurian Candidate, The (1962)
70등 영화 제목 : City of Lost Children, The (1995)
71등 영화 제목 : Jaws (1975)
72등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
73등 영화 제목 : Annie Hall (1977)
74등 영화 제목 : Dead Poets Society (1989)
75등 영화 제목 : Lion King, The (1994)
76등 영화 제목 : Aladdin (1992)
77등 영화 제목 : Game, The (1997)
78등 영화 제목 : I Know What You Did Last Summer (1997)
79등 영화 제목 : Die Hard (1988)
80등 영화 제목 : Shine (1996)
81등 영화 제목 : Twister (1996)
82등 영화 제목 : Usual Suspects, The (1995)
83등 영화 제목 : Ben-Hur (1959)
84등 영화 제목 : Rear Window (1954)
85등 영화 제목 : Swingers (1996)
86등 영화 제목 : Lawrence of Arabia (1962)
87등 영화 제목 : Starship Troopers (1997)
88등 영화 제목 : Cinema Paradiso (1988)
89등 영화 제목 : Apocalypse Now (1979)
90등 영화 제목 : Blues Brothers, The (1980)
91등 영화 제목 : Nikita (La Femme Nikita) (1990)
92등 영화 제목 : Indiana Jones and the Last Crusade (1989)
93등 영화 제목 : Chasing Amy (1997)
94등 영화 제목 : Men in Black (1997)
95등 영화 제목 : Sense and Sensibility (1995)
96등 영화 제목 : Bonnie and Clyde (1967)
97등 영화 제목 : Devil's Advocate, The (1997)
98등 영화 제목 : Sound of Music, The (1965)
99등 영화 제목 : Cinderella (1950)
100등 영화 제목 : To Kill a Mockingbird (1962)
artist

3. doctor에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : English Patient, The (1996)
2등 영화 제목 : Titanic (1997)
3등 영화 제목 : Air Force One (1997)
4등 영화 제목 : Ransom (1996)
5등 영화 제목 : L.A. Confidential (1997)
6등 영화 제목 : Toy Story (1995)
7등 영화 제목 : Fargo (1996)
8등 영화 제목 : Rock, The (1996)
9등 영화 제목 : Jerry Maguire (1996)
10등 영화 제목 : Twister (1996)
11등 영화 제목 : Scream (1996)
12등 영화 제목 : Truth About Cats & Dogs, The (1996)
13등 영화 제목 : Eat Drink Man Woman (1994)
14등 영화 제목 : Men in Black (1997)
15등 영화 제목 : Usual Suspects, The (1995)
16등 영화 제목 : Independence Day (ID4) (1996)
17등 영화 제목 : Eraser (1996)
18등 영화 제목 : Star Trek: First Contact (1996)
19등 영화 제목 : Contact (1997)
20등 영화 제목 : Ulee's Gold (1997)
21등 영화 제목 : Psycho (1960)
22등 영화 제목 : Mr. Holland's Opus (1995)
23등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
24등 영화 제목 : Return of the Jedi (1983)
25등 영화 제목 : Three Colors: Blue (1993)
26등 영화 제목 : GoodFellas (1990)
27등 영화 제목 : It's a Wonderful Life (1946)
28등 영화 제목 : My Best Friend's Wedding (1997)
29등 영화 제목 : Star Wars (1977)
30등 영화 제목 : Birdcage, The (1996)
31등 영화 제목 : Austin Powers: International Man of Mystery (1997)
32등 영화 제목 : My Left Foot (1989)
33등 영화 제목 : Grosse Pointe Blank (1997)
34등 영화 제목 : Third Man, The (1949)
35등 영화 제목 : Somewhere in Time (1980)
36등 영화 제목 : Manhattan (1979)
37등 영화 제목 : Annie Hall (1977)
38등 영화 제목 : American in Paris, An (1951)
39등 영화 제목 : Rumble in the Bronx (1995)
40등 영화 제목 : Raising Arizona (1987)
41등 영화 제목 : Groundhog Day (1993)
42등 영화 제목 : Rear Window (1954)
43등 영화 제목 : Broken Arrow (1996)
44등 영화 제목 : Professional, The (1994)
45등 영화 제목 : M*A*S*H (1970)
46등 영화 제목 : Indiana Jones and the Last Crusade (1989)
47등 영화 제목 : This Is Spinal Tap (1984)
48등 영화 제목 : Pulp Fiction (1994)
49등 영화 제목 : Chasing Amy (1997)
50등 영화 제목 : Roman Holiday (1953)
51등 영화 제목 : Emma (1996)
52등 영화 제목 : Murder at 1600 (1997)
53등 영화 제목 : Edge, The (1997)
54등 영화 제목 : Everyone Says I Love You (1996)
55등 영화 제목 : Game, The (1997)
56등 영화 제목 : Schindler's List (1993)
57등 영화 제목 : Wings of the Dove, The (1997)
58등 영화 제목 : Jackie Brown (1997)
59등 영화 제목 : Mrs. Brown (Her Majesty, Mrs. Brown) (1997)
60등 영화 제목 : Face/Off (1997)
61등 영화 제목 : Liar Liar (1997)
62등 영화 제목 : Evita (1996)
63등 영화 제목 : Mission: Impossible (1996)
64등 영화 제목 : Secrets & Lies (1996)
65등 영화 제목 : Cinderella (1950)
66등 영화 제목 : Time to Kill, A (1996)
67등 영화 제목 : Brothers McMullen, The (1995)
68등 영화 제목 : River Wild, The (1994)
69등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
70등 영화 제목 : Sense and Sensibility (1995)
71등 영화 제목 : Sabrina (1995)
72등 영화 제목 : Courage Under Fire (1996)
73등 영화 제목 : Good Will Hunting (1997)
74등 영화 제목 : Starship Troopers (1997)
75등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
76등 영화 제목 : Gattaca (1997)
77등 영화 제목 : First Wives Club, The (1996)
78등 영화 제목 : Twelve Monkeys (1995)
79등 영화 제목 : North by Northwest (1959)
80등 영화 제목 : Casablanca (1942)
81등 영화 제목 : Maltese Falcon, The (1941)
82등 영화 제목 : Executive Decision (1996)
83등 영화 제목 : Sting, The (1973)
84등 영화 제목 : Mighty Aphrodite (1995)
85등 영화 제목 : Con Air (1997)
86등 영화 제목 : Godfather, The (1972)
87등 영화 제목 : Phenomenon (1996)
88등 영화 제목 : Celluloid Closet, The (1995)
89등 영화 제목 : Big Night (1996)
90등 영화 제목 : Tomorrow Never Dies (1997)
91등 영화 제목 : Postino, Il (1994)
92등 영화 제목 : Die Hard (1988)
93등 영화 제목 : Long Kiss Goodnight, The (1996)
94등 영화 제목 : Ghost and the Darkness, The (1996)
95등 영화 제목 : Swingers (1996)
96등 영화 제목 : Saint, The (1997)
97등 영화 제목 : Silence of the Lambs, The (1991)
98등 영화 제목 : Rainmaker, The (1997)
99등 영화 제목 : Full Monty, The (1997)
100등 영화 제목 : Trust (1990)
doctor

4. educator에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : English Patient, The (1996)
2등 영화 제목 : Fargo (1996)
3등 영화 제목 : Star Wars (1977)
4등 영화 제목 : Contact (1997)
5등 영화 제목 : Godfather, The (1972)
6등 영화 제목 : Full Monty, The (1997)
7등 영화 제목 : Sense and Sensibility (1995)
8등 영화 제목 : Return of the Jedi (1983)
9등 영화 제목 : Toy Story (1995)
10등 영화 제목 : Jerry Maguire (1996)
11등 영화 제목 : Liar Liar (1997)
12등 영화 제목 : Air Force One (1997)
13등 영화 제목 : Independence Day (ID4) (1996)
14등 영화 제목 : Twelve Monkeys (1995)
15등 영화 제목 : Scream (1996)
16등 영화 제목 : Schindler's List (1993)
17등 영화 제목 : In & Out (1997)
18등 영화 제목 : Raiders of the Lost Ark (1981)
19등 영화 제목 : L.A. Confidential (1997)
20등 영화 제목 : Princess Bride, The (1987)
21등 영화 제목 : Dead Man Walking (1995)
22등 영화 제목 : Postino, Il (1994)
23등 영화 제목 : Pulp Fiction (1994)
24등 영화 제목 : Saint, The (1997)
25등 영화 제목 : Boot, Das (1981)
26등 영화 제목 : Star Trek: First Contact (1996)
27등 영화 제목 : Birdcage, The (1996)
28등 영화 제목 : Evita (1996)
29등 영화 제목 : Four Weddings and a Funeral (1994)
30등 영화 제목 : Silence of the Lambs, The (1991)
31등 영화 제목 : Amadeus (1984)
32등 영화 제목 : Sting, The (1973)
33등 영화 제목 : Conspiracy Theory (1997)
34등 영화 제목 : Back to the Future (1985)
35등 영화 제목 : Graduate, The (1967)
36등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
37등 영화 제목 : Shawshank Redemption, The (1994)
38등 영화 제목 : Fugitive, The (1993)
39등 영화 제목 : Monty Python and the Holy Grail (1974)
40등 영화 제목 : 2001: A Space Odyssey (1968)
41등 영화 제목 : Rear Window (1954)
42등 영화 제목 : Mr. Holland's Opus (1995)
43등 영화 제목 : Leaving Las Vegas (1995)
44등 영화 제목 : Braveheart (1995)
45등 영화 제목 : Stand by Me (1986)
46등 영화 제목 : E.T. the Extra-Terrestrial (1982)
47등 영화 제목 : It's a Wonderful Life (1946)
48등 영화 제목 : M*A*S*H (1970)
49등 영화 제목 : Clockwork Orange, A (1971)
50등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
51등 영화 제목 : Truth About Cats & Dogs, The (1996)
52등 영화 제목 : Psycho (1960)
53등 영화 제목 : Empire Strikes Back, The (1980)
54등 영화 제목 : When Harry Met Sally... (1989)
55등 영화 제목 : Dead Poets Society (1989)
56등 영화 제목 : Indiana Jones and the Last Crusade (1989)
57등 영화 제목 : Fish Called Wanda, A (1988)
58등 영화 제목 : Lawrence of Arabia (1962)
59등 영화 제목 : Dances with Wolves (1990)
60등 영화 제목 : Mission: Impossible (1996)
61등 영화 제목 : Raising Arizona (1987)
62등 영화 제목 : Forrest Gump (1994)
63등 영화 제목 : Casablanca (1942)
64등 영화 제목 : Devil's Own, The (1997)
65등 영화 제목 : Remains of the Day, The (1993)
66등 영화 제목 : Emma (1996)
67등 영화 제목 : Gandhi (1982)
68등 영화 제목 : Field of Dreams (1989)
69등 영화 제목 : Rock, The (1996)
70등 영화 제목 : Jaws (1975)
71등 영화 제목 : Babe (1995)
72등 영화 제목 : Boogie Nights (1997)
73등 영화 제목 : Groundhog Day (1993)
74등 영화 제목 : Secrets & Lies (1996)
75등 영화 제목 : North by Northwest (1959)
76등 영화 제목 : Room with a View, A (1986)
77등 영화 제목 : Blade Runner (1982)
78등 영화 제목 : Tin Cup (1996)
79등 영화 제목 : To Kill a Mockingbird (1962)
80등 영화 제목 : Murder at 1600 (1997)
81등 영화 제목 : GoodFellas (1990)
82등 영화 제목 : Blues Brothers, The (1980)
83등 영화 제목 : Big Night (1996)
84등 영화 제목 : Godfather: Part II, The (1974)
85등 영화 제목 : Twister (1996)
86등 영화 제목 : Annie Hall (1977)
87등 영화 제목 : Phenomenon (1996)
88등 영화 제목 : Glory (1989)
89등 영화 제목 : Terminator, The (1984)
90등 영화 제목 : Wizard of Oz, The (1939)
91등 영화 제목 : Everyone Says I Love You (1996)
92등 영화 제목 : Bridge on the River Kwai, The (1957)
93등 영화 제목 : Citizen Kane (1941)
94등 영화 제목 : Ulee's Gold (1997)
95등 영화 제목 : This Is Spinal Tap (1984)
96등 영화 제목 : Vertigo (1958)
97등 영화 제목 : Titanic (1997)
98등 영화 제목 : Mighty Aphrodite (1995)
99등 영화 제목 : Cool Hand Luke (1967)
100등 영화 제목 : Brazil (1985)
educator

5. engineer에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Toy Story (1995)
3등 영화 제목 : Fargo (1996)
4등 영화 제목 : Raiders of the Lost Ark (1981)
5등 영화 제목 : Return of the Jedi (1983)
6등 영화 제목 : Independence Day (ID4) (1996)
7등 영화 제목 : Silence of the Lambs, The (1991)
8등 영화 제목 : Star Trek: First Contact (1996)
9등 영화 제목 : Rock, The (1996)
10등 영화 제목 : Pulp Fiction (1994)
11등 영화 제목 : Mission: Impossible (1996)
12등 영화 제목 : Empire Strikes Back, The (1980)
13등 영화 제목 : Aliens (1986)
14등 영화 제목 : Back to the Future (1985)
15등 영화 제목 : Contact (1997)
16등 영화 제목 : E.T. the Extra-Terrestrial (1982)
17등 영화 제목 : Forrest Gump (1994)
18등 영화 제목 : Twelve Monkeys (1995)
19등 영화 제목 : Godfather, The (1972)
20등 영화 제목 : English Patient, The (1996)
21등 영화 제목 : Monty Python and the Holy Grail (1974)
22등 영화 제목 : Alien (1979)
23등 영화 제목 : 2001: A Space Odyssey (1968)
24등 영화 제목 : Blade Runner (1982)
25등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
26등 영화 제목 : Indiana Jones and the Last Crusade (1989)
27등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
28등 영화 제목 : Apocalypse Now (1979)
29등 영화 제목 : Hunt for Red October, The (1990)
30등 영화 제목 : Fugitive, The (1993)
31등 영화 제목 : Jaws (1975)
32등 영화 제목 : Star Trek: The Wrath of Khan (1982)
33등 영화 제목 : Braveheart (1995)
34등 영화 제목 : Groundhog Day (1993)
35등 영화 제목 : Terminator, The (1984)
36등 영화 제목 : Jurassic Park (1993)
37등 영화 제목 : Amadeus (1984)
38등 영화 제목 : Blues Brothers, The (1980)
39등 영화 제목 : Liar Liar (1997)
40등 영화 제목 : Men in Black (1997)
41등 영화 제목 : Aladdin (1992)
42등 영화 제목 : Birdcage, The (1996)
43등 영화 제목 : Princess Bride, The (1987)
44등 영화 제목 : Clockwork Orange, A (1971)
45등 영화 제목 : Dead Man Walking (1995)
46등 영화 제목 : Air Force One (1997)
47등 영화 제목 : Terminator 2: Judgment Day (1991)
48등 영화 제목 : Dead Poets Society (1989)
49등 영화 제목 : Dances with Wolves (1990)
50등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
51등 영화 제목 : Usual Suspects, The (1995)
52등 영화 제목 : Wizard of Oz, The (1939)
53등 영화 제목 : Four Weddings and a Funeral (1994)
54등 영화 제목 : Schindler's List (1993)
55등 영화 제목 : Broken Arrow (1996)
56등 영화 제목 : Full Monty, The (1997)
57등 영화 제목 : Twister (1996)
58등 영화 제목 : Lion King, The (1994)
59등 영화 제목 : Leaving Las Vegas (1995)
60등 영화 제목 : Casablanca (1942)
61등 영화 제목 : It's a Wonderful Life (1946)
62등 영화 제목 : Jerry Maguire (1996)
63등 영화 제목 : Apollo 13 (1995)
64등 영화 제목 : Young Frankenstein (1974)
65등 영화 제목 : Eraser (1996)
66등 영화 제목 : Get Shorty (1995)
67등 영화 제목 : When Harry Met Sally... (1989)
68등 영화 제목 : Scream (1996)
69등 영화 제목 : Raising Arizona (1987)
70등 영화 제목 : Graduate, The (1967)
71등 영화 제목 : Mars Attacks! (1996)
72등 영화 제목 : Speed (1994)
73등 영화 제목 : Top Gun (1986)
74등 영화 제목 : Star Trek IV: The Voyage Home (1986)
75등 영화 제목 : Sleepless in Seattle (1993)
76등 영화 제목 : Star Trek III: The Search for Spock (1984)
77등 영화 제목 : Trainspotting (1996)
78등 영화 제목 : In the Line of Fire (1993)
79등 영화 제목 : Sound of Music, The (1965)
80등 영화 제목 : Full Metal Jacket (1987)
81등 영화 제목 : M*A*S*H (1970)
82등 영화 제목 : Shawshank Redemption, The (1994)
83등 영화 제목 : Batman (1989)
84등 영화 제목 : Cool Hand Luke (1967)
85등 영화 제목 : Highlander (1986)
86등 영화 제목 : Fantasia (1940)
87등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
88등 영화 제목 : L.A. Confidential (1997)
89등 영화 제목 : Fish Called Wanda, A (1988)
90등 영화 제목 : Sting, The (1973)
91등 영화 제목 : Mr. Holland's Opus (1995)
92등 영화 제목 : Die Hard (1988)
93등 영화 제목 : Brazil (1985)
94등 영화 제목 : Good, The Bad and The Ugly, The (1966)
95등 영화 제목 : Stand by Me (1986)
96등 영화 제목 : Clear and Present Danger (1994)
97등 영화 제목 : Jackie Chan's First Strike (1996)
98등 영화 제목 : Field of Dreams (1989)
99등 영화 제목 : Ransom (1996)
100등 영화 제목 : Gandhi (1982)
engineer

6. entertainment에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Contact (1997)
2등 영화 제목 : Scream (1996)
3등 영화 제목 : L.A. Confidential (1997)
4등 영화 제목 : Toy Story (1995)
5등 영화 제목 : Fargo (1996)
6등 영화 제목 : Liar Liar (1997)
7등 영화 제목 : English Patient, The (1996)
8등 영화 제목 : Air Force One (1997)
9등 영화 제목 : Twelve Monkeys (1995)
10등 영화 제목 : Game, The (1997)
11등 영화 제목 : Jerry Maguire (1996)
12등 영화 제목 : Chasing Amy (1997)
13등 영화 제목 : Rock, The (1996)
14등 영화 제목 : Starship Troopers (1997)
15등 영화 제목 : Pulp Fiction (1994)
16등 영화 제목 : Jaws (1975)
17등 영화 제목 : Star Trek: First Contact (1996)
18등 영화 제목 : Return of the Jedi (1983)
19등 영화 제목 : Mother (1996)
20등 영화 제목 : Heat (1995)
21등 영화 제목 : Star Wars (1977)
22등 영화 제목 : Kingpin (1996)
23등 영화 제목 : Trainspotting (1996)
24등 영화 제목 : Independence Day (ID4) (1996)
25등 영화 제목 : Ransom (1996)
26등 영화 제목 : Mystery Science Theater 3000: The Movie (1996)
27등 영화 제목 : Full Monty, The (1997)
28등 영화 제목 : Titanic (1997)
29등 영화 제목 : Volcano (1997)
30등 영화 제목 : Fly Away Home (1996)
31등 영화 제목 : In & Out (1997)
32등 영화 제목 : Twister (1996)
33등 영화 제목 : Tin Cup (1996)
34등 영화 제목 : Godfather, The (1972)
35등 영화 제목 : Shawshank Redemption, The (1994)
36등 영화 제목 : Fugitive, The (1993)
37등 영화 제목 : Shining, The (1980)
38등 영화 제목 : This Is Spinal Tap (1984)
39등 영화 제목 : Truth About Cats & Dogs, The (1996)
40등 영화 제목 : Cape Fear (1991)
41등 영화 제목 : Braveheart (1995)
42등 영화 제목 : 2001: A Space Odyssey (1968)
43등 영화 제목 : Strange Days (1995)
44등 영화 제목 : Men in Black (1997)
45등 영화 제목 : Silence of the Lambs, The (1991)
46등 영화 제목 : Alien (1979)
47등 영화 제목 : Raiders of the Lost Ark (1981)
48등 영화 제목 : Murder at 1600 (1997)
49등 영화 제목 : Apt Pupil (1998)
50등 영화 제목 : Frighteners, The (1996)
51등 영화 제목 : GoodFellas (1990)
52등 영화 제목 : Mr. Holland's Opus (1995)
53등 영화 제목 : Devil's Advocate, The (1997)
54등 영화 제목 : Forrest Gump (1994)
55등 영화 제목 : Broken Arrow (1996)
56등 영화 제목 : In the Line of Fire (1993)
57등 영화 제목 : I Know What You Did Last Summer (1997)
58등 영화 제목 : Philadelphia (1993)
59등 영화 제목 : Jackie Chan's First Strike (1996)
60등 영화 제목 : Star Trek: The Wrath of Khan (1982)
61등 영화 제목 : Dave (1993)
62등 영화 제목 : Interview with the Vampire (1994)
63등 영화 제목 : Terminator, The (1984)
64등 영화 제목 : Nightmare on Elm Street, A (1984)
65등 영화 제목 : Bram Stoker's Dracula (1992)
66등 영화 제목 : Bridge on the River Kwai, The (1957)
67등 영화 제목 : Amadeus (1984)
68등 영화 제목 : Henry V (1989)
69등 영화 제목 : Babe (1995)
70등 영화 제목 : Psycho (1960)
71등 영화 제목 : American Werewolf in London, An (1981)
72등 영화 제목 : Aliens (1986)
73등 영화 제목 : Arrival, The (1996)
74등 영화 제목 : Brazil (1985)
75등 영화 제목 : E.T. the Extra-Terrestrial (1982)
76등 영화 제목 : Candyman (1992)
77등 영화 제목 : Mars Attacks! (1996)
78등 영화 제목 : Evita (1996)
79등 영화 제목 : Dante's Peak (1997)
80등 영화 제목 : Conspiracy Theory (1997)
81등 영화 제목 : Everyone Says I Love You (1996)
82등 영화 제목 : Schindler's List (1993)
83등 영화 제목 : Quiz Show (1994)
84등 영화 제목 : Crimson Tide (1995)
85등 영화 제목 : Ice Storm, The (1997)
86등 영화 제목 : Ulee's Gold (1997)
87등 영화 제목 : Rear Window (1954)
88등 영화 제목 : Natural Born Killers (1994)
89등 영화 제목 : People vs. Larry Flynt, The (1996)
90등 영화 제목 : Donnie Brasco (1997)
91등 영화 제목 : Time to Kill, A (1996)
92등 영화 제목 : Courage Under Fire (1996)
93등 영화 제목 : Copycat (1995)
94등 영화 제목 : Leaving Las Vegas (1995)
95등 영화 제목 : Empire Strikes Back, The (1980)
96등 영화 제목 : Gattaca (1997)
97등 영화 제목 : Mission: Impossible (1996)
98등 영화 제목 : Event Horizon (1997)
99등 영화 제목 : Alien 3 (1992)
100등 영화 제목 : Crash (1996)
entertainment

7. executive에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Contact (1997)
2등 영화 제목 : Liar Liar (1997)
3등 영화 제목 : Jerry Maguire (1996)
4등 영화 제목 : Star Wars (1977)
5등 영화 제목 : Murder at 1600 (1997)
6등 영화 제목 : English Patient, The (1996)
7등 영화 제목 : Toy Story (1995)
8등 영화 제목 : Fargo (1996)
9등 영화 제목 : Saint, The (1997)
10등 영화 제목 : Independence Day (ID4) (1996)
11등 영화 제목 : Scream (1996)
12등 영화 제목 : Twelve Monkeys (1995)
13등 영화 제목 : Rock, The (1996)
14등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
15등 영화 제목 : Men in Black (1997)
16등 영화 제목 : Mission: Impossible (1996)
17등 영화 제목 : Godfather, The (1972)
18등 영화 제목 : Star Trek: First Contact (1996)
19등 영화 제목 : Air Force One (1997)
20등 영화 제목 : Mr. Holland's Opus (1995)
21등 영화 제목 : Return of the Jedi (1983)
22등 영화 제목 : Game, The (1997)
23등 영화 제목 : Leaving Las Vegas (1995)
24등 영화 제목 : Raiders of the Lost Ark (1981)
25등 영화 제목 : Broken Arrow (1996)
26등 영화 제목 : Ransom (1996)
27등 영화 제목 : Twister (1996)
28등 영화 제목 : Pulp Fiction (1994)
29등 영화 제목 : Courage Under Fire (1996)
30등 영화 제목 : Truth About Cats & Dogs, The (1996)
31등 영화 제목 : Titanic (1997)
32등 영화 제목 : Silence of the Lambs, The (1991)
33등 영화 제목 : Volcano (1997)
34등 영화 제목 : Devil's Own, The (1997)
35등 영화 제목 : Forrest Gump (1994)
36등 영화 제목 : Evita (1996)
37등 영화 제목 : Back to the Future (1985)
38등 영화 제목 : Indiana Jones and the Last Crusade (1989)
39등 영화 제목 : Terminator, The (1984)
40등 영화 제목 : Dante's Peak (1997)
41등 영화 제목 : Full Monty, The (1997)
42등 영화 제목 : Executive Decision (1996)
43등 영화 제목 : L.A. Confidential (1997)
44등 영화 제목 : Four Weddings and a Funeral (1994)
45등 영화 제목 : Tin Cup (1996)
46등 영화 제목 : Conspiracy Theory (1997)
47등 영화 제목 : Dead Man Walking (1995)
48등 영화 제목 : Matilda (1996)
49등 영화 제목 : Fugitive, The (1993)
50등 영화 제목 : Shining, The (1980)
51등 영화 제목 : Sting, The (1973)
52등 영화 제목 : Usual Suspects, The (1995)
53등 영화 제목 : George of the Jungle (1997)
54등 영화 제목 : Phenomenon (1996)
55등 영화 제목 : Birdcage, The (1996)
56등 영화 제목 : Graduate, The (1967)
57등 영화 제목 : Good Will Hunting (1997)
58등 영화 제목 : Nutty Professor, The (1996)
59등 영화 제목 : Alien (1979)
60등 영화 제목 : Heat (1995)
61등 영화 제목 : Trainspotting (1996)
62등 영화 제목 : First Wives Club, The (1996)
63등 영화 제목 : Cool Hand Luke (1967)
64등 영화 제목 : Empire Strikes Back, The (1980)
65등 영화 제목 : People vs. Larry Flynt, The (1996)
66등 영화 제목 : Godfather: Part II, The (1974)
67등 영화 제목 : Monty Python and the Holy Grail (1974)
68등 영화 제목 : Eraser (1996)
69등 영화 제목 : Sleepers (1996)
70등 영화 제목 : 2001: A Space Odyssey (1968)
71등 영화 제목 : Father of the Bride Part II (1995)
72등 영화 제목 : Psycho (1960)
73등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
74등 영화 제목 : Apollo 13 (1995)
75등 영화 제목 : When Harry Met Sally... (1989)
76등 영화 제목 : Sabrina (1995)
77등 영화 제목 : Dead Poets Society (1989)
78등 영화 제목 : Schindler's List (1993)
79등 영화 제목 : Sense and Sensibility (1995)
80등 영화 제목 : Rainmaker, The (1997)
81등 영화 제목 : Time to Kill, A (1996)
82등 영화 제목 : Primal Fear (1996)
83등 영화 제목 : Jaws (1975)
84등 영화 제목 : Mars Attacks! (1996)
85등 영화 제목 : Shawshank Redemption, The (1994)
86등 영화 제목 : Sound of Music, The (1965)
87등 영화 제목 : Seven Years in Tibet (1997)
88등 영화 제목 : Space Jam (1996)
89등 영화 제목 : Long Kiss Goodnight, The (1996)
90등 영화 제목 : Lone Star (1996)
91등 영화 제목 : Cold Comfort Farm (1995)
92등 영화 제목 : Grumpier Old Men (1995)
93등 영화 제목 : Clear and Present Danger (1994)
94등 영화 제목 : Right Stuff, The (1983)
95등 영화 제목 : Braveheart (1995)
96등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
97등 영화 제목 : Ben-Hur (1959)
98등 영화 제목 : Absolute Power (1997)
99등 영화 제목 : Deer Hunter, The (1978)
100등 영화 제목 : Annie Hall (1977)
executive

8. healthcare에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Return of the Jedi (1983)
3등 영화 제목 : Air Force One (1997)
4등 영화 제목 : Godfather, The (1972)
5등 영화 제목 : Scream (1996)
6등 영화 제목 : Independence Day (ID4) (1996)
7등 영화 제목 : Contact (1997)
8등 영화 제목 : Raiders of the Lost Ark (1981)
9등 영화 제목 : Titanic (1997)
10등 영화 제목 : English Patient, The (1996)
11등 영화 제목 : Fargo (1996)
12등 영화 제목 : Rock, The (1996)
13등 영화 제목 : Face/Off (1997)
14등 영화 제목 : Star Trek: First Contact (1996)
15등 영화 제목 : Jerry Maguire (1996)
16등 영화 제목 : Boot, Das (1981)
17등 영화 제목 : Birdcage, The (1996)
18등 영화 제목 : Dead Man Walking (1995)
19등 영화 제목 : Tomorrow Never Dies (1997)
20등 영화 제목 : Liar Liar (1997)
21등 영화 제목 : Men in Black (1997)
22등 영화 제목 : Sense and Sensibility (1995)
23등 영화 제목 : Time to Kill, A (1996)
24등 영화 제목 : Evita (1996)
25등 영화 제목 : Volcano (1997)
26등 영화 제목 : Saint, The (1997)
27등 영화 제목 : In the Line of Fire (1993)
28등 영화 제목 : Twelve Monkeys (1995)
29등 영화 제목 : Forrest Gump (1994)
30등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
31등 영화 제목 : Indiana Jones and the Last Crusade (1989)
32등 영화 제목 : Lawrence of Arabia (1962)
33등 영화 제목 : Killing Fields, The (1984)
34등 영화 제목 : Pulp Fiction (1994)
35등 영화 제목 : M*A*S*H (1970)
36등 영화 제목 : Toy Story (1995)
37등 영화 제목 : Empire Strikes Back, The (1980)
38등 영화 제목 : Terminator, The (1984)
39등 영화 제목 : Mission: Impossible (1996)
40등 영화 제목 : Amadeus (1984)
41등 영화 제목 : Psycho (1960)
42등 영화 제목 : 2001: A Space Odyssey (1968)
43등 영화 제목 : L.A. Confidential (1997)
44등 영화 제목 : Rainmaker, The (1997)
45등 영화 제목 : Shawshank Redemption, The (1994)
46등 영화 제목 : Top Gun (1986)
47등 영화 제목 : Game, The (1997)
48등 영화 제목 : Piano, The (1993)
49등 영화 제목 : When Harry Met Sally... (1989)
50등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
51등 영화 제목 : Courage Under Fire (1996)
52등 영화 제목 : Casablanca (1942)
53등 영화 제목 : Silence of the Lambs, The (1991)
54등 영화 제목 : Sound of Music, The (1965)
55등 영화 제목 : Big Night (1996)
56등 영화 제목 : Phenomenon (1996)
57등 영화 제목 : People vs. Larry Flynt, The (1996)
58등 영화 제목 : Terminator 2: Judgment Day (1991)
59등 영화 제목 : Full Monty, The (1997)
60등 영화 제목 : Bridge on the River Kwai, The (1957)
61등 영화 제목 : Usual Suspects, The (1995)
62등 영화 제목 : Fifth Element, The (1997)
63등 영화 제목 : Philadelphia (1993)
64등 영화 제목 : Lost World: Jurassic Park, The (1997)
65등 영화 제목 : Twister (1996)
66등 영화 제목 : Seven (Se7en) (1995)
67등 영화 제목 : Good Will Hunting (1997)
68등 영화 제목 : Seven Years in Tibet (1997)
69등 영화 제목 : Right Stuff, The (1983)
70등 영화 제목 : Leaving Las Vegas (1995)
71등 영화 제목 : Gandhi (1982)
72등 영화 제목 : Ransom (1996)
73등 영화 제목 : Great Escape, The (1963)
74등 영화 제목 : Con Air (1997)
75등 영화 제목 : Lion King, The (1994)
76등 영화 제목 : Cool Hand Luke (1967)

77등 영화 제목 : Lone Star (1996)
78등 영화 제목 : Wizard of Oz, The (1939)
79등 영화 제목 : Four Weddings and a Funeral (1994)
80등 영화 제목 : Mighty Aphrodite (1995)
81등 영화 제목 : Clear and Present Danger (1994)
82등 영화 제목 : Eraser (1996)
83등 영화 제목 : Rear Window (1954)
84등 영화 제목 : It Happened One Night (1934)
85등 영화 제목 : Seventh Seal, The (Sjunde inseglet, Det) (1957)
86등 영화 제목 : Stand by Me (1986)
87등 영화 제목 : Chinatown (1974)
88등 영화 제목 : Patton (1970)
89등 영화 제목 : Maltese Falcon, The (1941)
90등 영화 제목 : Alien (1979)
91등 영화 제목 : Back to the Future (1985)
92등 영화 제목 : Star Trek: The Wrath of Khan (1982)
93등 영화 제목 : Taxi Driver (1976)
94등 영화 제목 : Jaws (1975)
95등 영화 제목 : Devil's Own, The (1997)
96등 영화 제목 : Grosse Pointe Blank (1997)
97등 영화 제목 : Graduate, The (1967)
98등 영화 제목 : Heat (1995)
99등 영화 제목 : Apollo 13 (1995)
100등 영화 제목 : That Thing You Do! (1996)
healthcare

9. homemaker에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Saint, The (1997)
2등 영화 제목 : Air Force One (1997)
3등 영화 제목 : Conspiracy Theory (1997)
4등 영화 제목 : Contact (1997)
5등 영화 제목 : Volcano (1997)
6등 영화 제목 : Murder at 1600 (1997)
7등 영화 제목 : Wag the Dog (1997)
8등 영화 제목 : Titanic (1997)
9등 영화 제목 : Liar Liar (1997)
10등 영화 제목 : Scream (1996)
11등 영화 제목 : Game, The (1997)
12등 영화 제목 : Midnight in the Garden of Good and Evil (1997)
13등 영화 제목 : Rainmaker, The (1997)
14등 영화 제목 : G.I. Jane (1997)
15등 영화 제목 : Michael (1996)
16등 영화 제목 : English Patient, The (1996)
17등 영화 제목 : Eraser (1996)
18등 영화 제목 : Jackal, The (1997)
19등 영화 제목 : Independence Day (ID4) (1996)
20등 영화 제목 : Jungle2Jungle (1997)
21등 영화 제목 : Spawn (1997)
22등 영화 제목 : Mission: Impossible (1996)
23등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
24등 영화 제목 : Ghost and the Darkness, The (1996)
25등 영화 제목 : Twister (1996)
26등 영화 제목 : People vs. Larry Flynt, The (1996)
27등 영화 제목 : Star Wars (1977)
28등 영화 제목 : First Wives Club, The (1996)
29등 영화 제목 : Courage Under Fire (1996)
30등 영화 제목 : Cop Land (1997)
31등 영화 제목 : Playing God (1997)
32등 영화 제목 : Very Brady Sequel, A (1996)
33등 영화 제목 : Kiss the Girls (1997)
34등 영화 제목 : Dante's Peak (1997)
35등 영화 제목 : Mother (1996)
36등 영화 제목 : Everyone Says I Love You (1996)
37등 영화 제목 : As Good As It Gets (1997)
38등 영화 제목 : Fire Down Below (1997)
39등 영화 제목 : Truth About Cats & Dogs, The (1996)
40등 영화 제목 : Rock, The (1996)
41등 영화 제목 : Long Kiss Goodnight, The (1996)
42등 영화 제목 : Mr. Holland's Opus (1995)
43등 영화 제목 : Return of the Jedi (1983)
44등 영화 제목 : Jerry Maguire (1996)
45등 영화 제목 : Kolya (1996)
46등 영화 제목 : Birdcage, The (1996)
47등 영화 제목 : Mimic (1997)
48등 영화 제목 : Chasing Amy (1997)
49등 영화 제목 : Starship Troopers (1997)
50등 영화 제목 : Good Will Hunting (1997)
51등 영화 제목 : Sabrina (1995)
52등 영화 제목 : Broken Arrow (1996)
53등 영화 제목 : Devil's Advocate, The (1997)
54등 영화 제목 : Apt Pupil (1998)
55등 영화 제목 : L.A. Confidential (1997)
56등 영화 제목 : Toy Story (1995)
57등 영화 제목 : Tomorrow Never Dies (1997)
58등 영화 제목 : Rocket Man (1997)
59등 영화 제목 : Vegas Vacation (1997)
60등 영화 제목 : That Thing You Do! (1996)
61등 영화 제목 : Happy Gilmore (1996)
62등 영화 제목 : Preacher's Wife, The (1996)
63등 영화 제목 : Father of the Bride Part II (1995)
64등 영화 제목 : Ransom (1996)
65등 영화 제목 : Thousand Acres, A (1997)
66등 영화 제목 : Peacemaker, The (1997)
67등 영화 제목 : Sleepers (1996)
68등 영화 제목 : Associate, The (1996)
69등 영화 제목 : Jude (1996)
70등 영화 제목 : Swingers (1996)
71등 영화 제목 : Craft, The (1996)
72등 영화 제목 : Empire Strikes Back, The (1980)
73등 영화 제목 : Raiders of the Lost Ark (1981)
74등 영화 제목 : Fathers' Day (1997)
75등 영화 제목 : Aliens (1986)
76등 영화 제목 : Down Periscope (1996)
77등 영화 제목 : Blues Brothers, The (1980)
78등 영화 제목 : Sting, The (1973)
79등 영화 제목 : Back to the Future (1985)
80등 영화 제목 : Young Frankenstein (1974)
81등 영화 제목 : Muppet Treasure Island (1996)
82등 영화 제목 : Indiana Jones and the Last Crusade (1989)
83등 영화 제목 : Braveheart (1995)
84등 영화 제목 : Star Trek: First Contact (1996)
85등 영화 제목 : 101 Dalmatians (1996)
86등 영화 제목 : Dead Man Walking (1995)
87등 영화 제목 : Flubber (1997)
88등 영화 제목 : Eve's Bayou (1997)
89등 영화 제목 : Fargo (1996)
90등 영화 제목 : Devil's Own, The (1997)
91등 영화 제목 : Money Talks (1997)
92등 영화 제목 : Lost World: Jurassic Park, The (1997)
93등 영화 제목 : My Best Friend's Wedding (1997)
94등 영화 제목 : Soul Food (1997)
95등 영화 제목 : George of the Jungle (1997)
96등 영화 제목 : Chain Reaction (1996)
97등 영화 제목 : Island of Dr. Moreau, The (1996)
98등 영화 제목 : Mr. Wrong (1996)
99등 영화 제목 : Lone Star (1996)
100등 영화 제목 : Evening Star, The (1996)
homemaker

10. lawyer에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Full Monty, The (1997)
2등 영화 제목 : English Patient, The (1996)
3등 영화 제목 : Liar Liar (1997)
4등 영화 제목 : Star Wars (1977)
5등 영화 제목 : Contact (1997)
6등 영화 제목 : Fargo (1996)
7등 영화 제목 : Evita (1996)
8등 영화 제목 : Forrest Gump (1994)
9등 영화 제목 : Amadeus (1984)
10등 영화 제목 : Raiders of the Lost Ark (1981)
11등 영화 제목 : Air Force One (1997)
12등 영화 제목 : Toy Story (1995)
13등 영화 제목 : Silence of the Lambs, The (1991)
14등 영화 제목 : Good Will Hunting (1997)
15등 영화 제목 : Sting, The (1973)
16등 영화 제목 : Pulp Fiction (1994)
17등 영화 제목 : Scream (1996)
18등 영화 제목 : It's a Wonderful Life (1946)
19등 영화 제목 : Philadelphia Story, The (1940)
20등 영화 제목 : Sense and Sensibility (1995)
21등 영화 제목 : Leaving Las Vegas (1995)
22등 영화 제목 : Volcano (1997)
23등 영화 제목 : Monty Python and the Holy Grail (1974)
24등 영화 제목 : Braveheart (1995)
25등 영화 제목 : Tomorrow Never Dies (1997)
26등 영화 제목 : Return of the Jedi (1983)
27등 영화 제목 : Blues Brothers, The (1980)
28등 영화 제목 : Graduate, The (1967)
29등 영화 제목 : Casablanca (1942)
30등 영화 제목 : Terminator, The (1984)
31등 영화 제목 : Boogie Nights (1997)
32등 영화 제목 : Citizen Kane (1941)
33등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
34등 영화 제목 : Apt Pupil (1998)
35등 영화 제목 : 39 Steps, The (1935)
36등 영화 제목 : Jungle2Jungle (1997)
37등 영화 제목 : Raising Arizona (1987)
38등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
39등 영화 제목 : Saint, The (1997)
40등 영화 제목 : Shawshank Redemption, The (1994)
41등 영화 제목 : When Harry Met Sally... (1989)
42등 영화 제목 : Patton (1970)
43등 영화 제목 : M*A*S*H (1970)
44등 영화 제목 : Birdcage, The (1996)
45등 영화 제목 : Back to the Future (1985)
46등 영화 제목 : Unforgiven (1992)
47등 영화 제목 : Nikita (La Femme Nikita) (1990)
48등 영화 제목 : Fugitive, The (1993)
49등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
50등 영화 제목 : Boot, Das (1981)
51등 영화 제목 : Lawrence of Arabia (1962)
52등 영화 제목 : Men in Black (1997)
53등 영화 제목 : Titanic (1997)
54등 영화 제목 : African Queen, The (1951)
55등 영화 제목 : L.A. Confidential (1997)
56등 영화 제목 : As Good As It Gets (1997)
57등 영화 제목 : Sunset Blvd. (1950)
58등 영화 제목 : Schindler's List (1993)
59등 영화 제목 : Being There (1979)
60등 영화 제목 : G.I. Jane (1997)
61등 영화 제목 : Twelve Monkeys (1995)
62등 영화 제목 : Four Weddings and a Funeral (1994)
63등 영화 제목 : Conspiracy Theory (1997)
64등 영화 제목 : Manchurian Candidate, The (1962)
65등 영화 제목 : Singin' in the Rain (1952)
66등 영화 제목 : Chinatown (1974)
67등 영화 제목 : Starship Troopers (1997)
68등 영화 제목 : Game, The (1997)
69등 영화 제목 : Chasing Amy (1997)
70등 영화 제목 : Vertigo (1958)
71등 영화 제목 : Apollo 13 (1995)
72등 영화 제목 : Gone with the Wind (1939)
73등 영화 제목 : 2001: A Space Odyssey (1968)
74등 영화 제목 : Swingers (1996)
75등 영화 제목 : Princess Bride, The (1987)
76등 영화 제목 : Dead Man Walking (1995)
77등 영화 제목 : Aliens (1986)
78등 영화 제목 : Sound of Music, The (1965)
79등 영화 제목 : Wizard of Oz, The (1939)
80등 영화 제목 : Brazil (1985)
81등 영화 제목 : Jurassic Park (1993)
82등 영화 제목 : Godfather, The (1972)
83등 영화 제목 : Stand by Me (1986)
84등 영화 제목 : Home Alone (1990)
85등 영화 제목 : Clueless (1995)
86등 영화 제목 : Jackie Brown (1997)
87등 영화 제목 : Cook the Thief His Wife & Her Lover, The (1989)
88등 영화 제목 : Get Shorty (1995)
89등 영화 제목 : Pinocchio (1940)
90등 영화 제목 : Hot Shots! Part Deux (1993)
91등 영화 제목 : Raging Bull (1980)
92등 영화 제목 : Dante's Peak (1997)
93등 영화 제목 : Murder at 1600 (1997)
94등 영화 제목 : To Kill a Mockingbird (1962)
95등 영화 제목 : Ace Ventura: Pet Detective (1994)
96등 영화 제목 : Everyone Says I Love You (1996)
97등 영화 제목 : Mr. Smith Goes to Washington (1939)
98등 영화 제목 : Big Night (1996)
99등 영화 제목 : Postino, Il (1994)
100등 영화 제목 : Die Hard (1988)
lawyer

11. librarian에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : English Patient, The (1996)
2등 영화 제목 : Star Wars (1977)
3등 영화 제목 : Titanic (1997)
4등 영화 제목 : Fargo (1996)
5등 영화 제목 : Full Monty, The (1997)
6등 영화 제목 : When Harry Met Sally... (1989)
7등 영화 제목 : Air Force One (1997)
8등 영화 제목 : Sense and Sensibility (1995)
9등 영화 제목 : Godfather, The (1972)
10등 영화 제목 : Raiders of the Lost Ark (1981)
11등 영화 제목 : Return of the Jedi (1983)
12등 영화 제목 : Indiana Jones and the Last Crusade (1989)
13등 영화 제목 : Empire Strikes Back, The (1980)
14등 영화 제목 : Silence of the Lambs, The (1991)
15등 영화 제목 : Schindler's List (1993)
16등 영화 제목 : L.A. Confidential (1997)
17등 영화 제목 : Scream (1996)
18등 영화 제목 : Dead Man Walking (1995)
19등 영화 제목 : Remains of the Day, The (1993)
20등 영화 제목 : Jerry Maguire (1996)
21등 영화 제목 : Four Weddings and a Funeral (1994)
22등 영화 제목 : Amadeus (1984)
23등 영화 제목 : Contact (1997)
24등 영화 제목 : Secrets & Lies (1996)
25등 영화 제목 : Emma (1996)
26등 영화 제목 : Graduate, The (1967)
27등 영화 제목 : Piano, The (1993)
28등 영화 제목 : Fugitive, The (1993)
29등 영화 제목 : Like Water For Chocolate (Como agua para chocolate) (1992)
30등 영화 제목 : In & Out (1997)
31등 영화 제목 : Leaving Las Vegas (1995)
32등 영화 제목 : It's a Wonderful Life (1946)
33등 영화 제목 : Pulp Fiction (1994)
34등 영화 제목 : Dead Poets Society (1989)
35등 영화 제목 : Cinema Paradiso (1988)
36등 영화 제목 : Princess Bride, The (1987)
37등 영화 제목 : Apt Pupil (1998)
38등 영화 제목 : Toy Story (1995)
39등 영화 제목 : Monty Python and the Holy Grail (1974)
40등 영화 제목 : Vertigo (1958)
41등 영화 제목 : Lone Star (1996)
42등 영화 제목 : Postino, Il (1994)
43등 영화 제목 : Forrest Gump (1994)
44등 영화 제목 : 2001: A Space Odyssey (1968)
45등 영화 제목 : Rock, The (1996)
46등 영화 제목 : Back to the Future (1985)
47등 영화 제목 : Liar Liar (1997)
48등 영화 제목 : Raising Arizona (1987)
49등 영화 제목 : Fish Called Wanda, A (1988)
50등 영화 제목 : To Kill a Mockingbird (1962)
51등 영화 제목 : As Good As It Gets (1997)
52등 영화 제목 : Groundhog Day (1993)
53등 영화 제목 : Independence Day (ID4) (1996)
54등 영화 제목 : Rear Window (1954)
55등 영화 제목 : Usual Suspects, The (1995)
56등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
57등 영화 제목 : Braveheart (1995)
58등 영화 제목 : Good Will Hunting (1997)
59등 영화 제목 : Boogie Nights (1997)
60등 영화 제목 : Ulee's Gold (1997)
61등 영화 제목 : Twelve Monkeys (1995)
62등 영화 제목 : Boot, Das (1981)
63등 영화 제목 : Chasing Amy (1997)
64등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
65등 영화 제목 : Big Night (1996)
66등 영화 제목 : Young Frankenstein (1974)
67등 영화 제목 : Casablanca (1942)
68등 영화 제목 : Annie Hall (1977)
69등 영화 제목 : Mighty Aphrodite (1995)
70등 영화 제목 : E.T. the Extra-Terrestrial (1982)
71등 영화 제목 : Ransom (1996)
72등 영화 제목 : Stand by Me (1986)
73등 영화 제목 : Wings of the Dove, The (1997)
74등 영화 제목 : Wizard of Oz, The (1939)
75등 영화 제목 : Everyone Says I Love You (1996)
76등 영화 제목 : Murder at 1600 (1997)
77등 영화 제목 : Apollo 13 (1995)
78등 영화 제목 : Shawshank Redemption, The (1994)
79등 영화 제목 : Sleepless in Seattle (1993)
80등 영화 제목 : Much Ado About Nothing (1993)
81등 영화 제목 : Babe (1995)
82등 영화 제목 : Truth About Cats & Dogs, The (1996)
83등 영화 제목 : Brazil (1985)
84등 영화 제목 : Gandhi (1982)
85등 영화 제목 : Quiz Show (1994)
86등 영화 제목 : Lawrence of Arabia (1962)
87등 영화 제목 : People vs. Larry Flynt, The (1996)
88등 영화 제목 : Adventures of Priscilla, Queen of the Desert, The (1994)
89등 영화 제목 : Fried Green Tomatoes (1991)
90등 영화 제목 : Mission: Impossible (1996)
91등 영화 제목 : Room with a View, A (1986)
92등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
93등 영화 제목 : Saint, The (1997)
94등 영화 제목 : Beauty and the Beast (1991)
95등 영화 제목 : Mrs. Brown (Her Majesty, Mrs. Brown) (1997)
96등 영화 제목 : Wag the Dog (1997)
97등 영화 제목 : Get Shorty (1995)
98등 영화 제목 : Seven (Se7en) (1995)
99등 영화 제목 : Twister (1996)
100등 영화 제목 : Citizen Kane (1941)
librarian

12. marketing에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Contact (1997)
2등 영화 제목 : English Patient, The (1996)
3등 영화 제목 : Air Force One (1997)
4등 영화 제목 : Liar Liar (1997)
5등 영화 제목 : Star Wars (1977)
6등 영화 제목 : Conspiracy Theory (1997)
7등 영화 제목 : Saint, The (1997)
8등 영화 제목 : Full Monty, The (1997)
9등 영화 제목 : Godfather, The (1972)
10등 영화 제목 : Dante's Peak (1997)
11등 영화 제목 : Murder at 1600 (1997)
12등 영화 제목 : Return of the Jedi (1983)
13등 영화 제목 : L.A. Confidential (1997)
14등 영화 제목 : Scream (1996)
15등 영화 제목 : Toy Story (1995)
16등 영화 제목 : Evita (1996)
17등 영화 제목 : Game, The (1997)
18등 영화 제목 : Seven Years in Tibet (1997)
19등 영화 제목 : Titanic (1997)
20등 영화 제목 : Devil's Advocate, The (1997)
21등 영화 제목 : Fargo (1996)
22등 영화 제목 : Fugitive, The (1993)
23등 영화 제목 : Silence of the Lambs, The (1991)
24등 영화 제목 : Casablanca (1942)
25등 영화 제목 : Independence Day (ID4) (1996)
26등 영화 제목 : Devil's Own, The (1997)
27등 영화 제목 : Raiders of the Lost Ark (1981)
28등 영화 제목 : Schindler's List (1993)
29등 영화 제목 : Aliens (1986)
30등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
31등 영화 제목 : GoodFellas (1990)
32등 영화 제목 : Apollo 13 (1995)
33등 영화 제목 : Leaving Las Vegas (1995)
34등 영화 제목 : Anastasia (1997)
35등 영화 제목 : Cop Land (1997)
36등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
37등 영화 제목 : Boogie Nights (1997)
38등 영화 제목 : Mr. Holland's Opus (1995)
39등 영화 제목 : Indiana Jones and the Last Crusade (1989)
40등 영화 제목 : Amistad (1997)
41등 영화 제목 : Good Will Hunting (1997)
42등 영화 제목 : Volcano (1997)
43등 영화 제목 : Apocalypse Now (1979)
44등 영화 제목 : Shawshank Redemption, The (1994)
45등 영화 제목 : Jurassic Park (1993)
46등 영화 제목 : When Harry Met Sally... (1989)
47등 영화 제목 : Forrest Gump (1994)
48등 영화 제목 : Back to the Future (1985)
49등 영화 제목 : Rear Window (1954)
50등 영화 제목 : Raising Arizona (1987)
51등 영화 제목 : Jerry Maguire (1996)
52등 영화 제목 : Empire Strikes Back, The (1980)
53등 영화 제목 : Fly Away Home (1996)
54등 영화 제목 : Rosewood (1997)
55등 영화 제목 : Taxi Driver (1976)
56등 영화 제목 : Monty Python and the Holy Grail (1974)
57등 영화 제목 : Terminator 2: Judgment Day (1991)
58등 영화 제목 : In & Out (1997)
59등 영화 제목 : Annie Hall (1977)
60등 영화 제목 : Speed (1994)
61등 영화 제목 : Braveheart (1995)
62등 영화 제목 : Gandhi (1982)
63등 영화 제목 : Rainmaker, The (1997)
64등 영화 제목 : Postino, Il (1994)
65등 영화 제목 : Ransom (1996)
66등 영화 제목 : Pulp Fiction (1994)
67등 영화 제목 : Terminator, The (1984)
68등 영화 제목 : Dead Poets Society (1989)
69등 영화 제목 : To Kill a Mockingbird (1962)
70등 영화 제목 : Sound of Music, The (1965)
71등 영화 제목 : E.T. the Extra-Terrestrial (1982)
72등 영화 제목 : Edge, The (1997)
73등 영화 제목 : Lawrence of Arabia (1962)
74등 영화 제목 : Graduate, The (1967)
75등 영화 제목 : Hunt for Red October, The (1990)
76등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
77등 영화 제목 : Top Gun (1986)
78등 영화 제목 : Sleepless in Seattle (1993)
79등 영화 제목 : George of the Jungle (1997)
80등 영화 제목 : Alien (1979)
81등 영화 제목 : Star Trek: First Contact (1996)
82등 영화 제목 : Star Trek IV: The Voyage Home (1986)
83등 영화 제목 : Brazil (1985)
84등 영화 제목 : Chasing Amy (1997)
85등 영화 제목 : Birdcage, The (1996)
86등 영화 제목 : Wizard of Oz, The (1939)
87등 영화 제목 : Jaws (1975)
88등 영화 제목 : People vs. Larry Flynt, The (1996)
89등 영화 제목 : Blues Brothers, The (1980)
90등 영화 제목 : Stand by Me (1986)
91등 영화 제목 : Good, The Bad and The Ugly, The (1966)
92등 영화 제목 : G.I. Jane (1997)
93등 영화 제목 : Four Weddings and a Funeral (1994)
94등 영화 제목 : Alien: Resurrection (1997)
95등 영화 제목 : Mr. Smith Goes to Washington (1939)
96등 영화 제목 : Sting, The (1973)
97등 영화 제목 : Mission: Impossible (1996)
98등 영화 제목 : Mighty Aphrodite (1995)
99등 영화 제목 : Field of Dreams (1989)
100등 영화 제목 : Princess Bride, The (1987)
marketing

13. none에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Contact (1997)
2등 영화 제목 : Toy Story (1995)
3등 영화 제목 : Air Force One (1997)
4등 영화 제목 : Liar Liar (1997)
5등 영화 제목 : Rock, The (1996)
6등 영화 제목 : Scream (1996)
7등 영화 제목 : Star Trek: First Contact (1996)
8등 영화 제목 : Star Wars (1977)
9등 영화 제목 : Independence Day (ID4) (1996)
10등 영화 제목 : Time to Kill, A (1996)
11등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
12등 영화 제목 : Twelve Monkeys (1995)
13등 영화 제목 : Terminator, The (1984)
14등 영화 제목 : Star Trek: The Wrath of Khan (1982)
15등 영화 제목 : Phenomenon (1996)
16등 영화 제목 : Long Kiss Goodnight, The (1996)
17등 영화 제목 : Star Trek IV: The Voyage Home (1986)
18등 영화 제목 : Jungle2Jungle (1997)
19등 영화 제목 : Courage Under Fire (1996)
20등 영화 제목 : Princess Bride, The (1987)
21등 영화 제목 : Chain Reaction (1996)
22등 영화 제목 : Fugitive, The (1993)
23등 영화 제목 : Return of the Jedi (1983)
24등 영화 제목 : Devil's Own, The (1997)
25등 영화 제목 : Mission: Impossible (1996)
26등 영화 제목 : James and the Giant Peach (1996)
27등 영화 제목 : Mystery Science Theater 3000: The Movie (1996)
28등 영화 제목 : Fargo (1996)
29등 영화 제목 : Saint, The (1997)
30등 영화 제목 : Truth About Cats & Dogs, The (1996)
31등 영화 제목 : Ransom (1996)
32등 영화 제목 : Twister (1996)
33등 영화 제목 : Jerry Maguire (1996)
34등 영화 제목 : Volcano (1997)
35등 영화 제목 : Game, The (1997)
36등 영화 제목 : One Fine Day (1996)
37등 영화 제목 : Rumble in the Bronx (1995)
38등 영화 제목 : Father of the Bride Part II (1995)
39등 영화 제목 : Jurassic Park (1993)
40등 영화 제목 : Babe (1995)
41등 영화 제목 : Jaws (1975)
42등 영화 제목 : Eraser (1996)
43등 영화 제목 : Dante's Peak (1997)
44등 영화 제목 : Star Trek III: The Search for Spock (1984)
45등 영화 제목 : Executive Decision (1996)
46등 영화 제목 : Mars Attacks! (1996)
47등 영화 제목 : Jack (1996)
48등 영화 제목 : Kingpin (1996)
49등 영화 제목 : Jackie Brown (1997)
50등 영화 제목 : English Patient, The (1996)
51등 영화 제목 : L.A. Confidential (1997)
52등 영화 제목 : In & Out (1997)
53등 영화 제목 : Pretty Woman (1990)
54등 영화 제목 : Batman (1989)
55등 영화 제목 : Full Monty, The (1997)
56등 영화 제목 : Starship Troopers (1997)
57등 영화 제목 : Shawshank Redemption, The (1994)
58등 영화 제목 : Sudden Death (1995)
59등 영화 제목 : Grifters, The (1990)
60등 영화 제목 : Die Hard 2 (1990)
61등 영화 제목 : While You Were Sleeping (1995)
62등 영화 제목 : Tin Cup (1996)
63등 영화 제목 : Star Trek VI: The Undiscovered Country (1991)
64등 영화 제목 : 101 Dalmatians (1996)
65등 영화 제목 : Seven Years in Tibet (1997)
66등 영화 제목 : Braveheart (1995)
67등 영화 제목 : Monty Python and the Holy Grail (1974)
68등 영화 제목 : Dead Man Walking (1995)
69등 영화 제목 : Top Gun (1986)
70등 영화 제목 : Clear and Present Danger (1994)
71등 영화 제목 : Mr. Holland's Opus (1995)
72등 영화 제목 : Dragonheart (1996)
73등 영화 제목 : Seven (Se7en) (1995)
74등 영화 제목 : Pulp Fiction (1994)
75등 영화 제목 : Speed (1994)
76등 영화 제목 : Trainspotting (1996)
77등 영화 제목 : Frighteners, The (1996)
78등 영화 제목 : Waterworld (1995)
79등 영화 제목 : First Kid (1996)
80등 영화 제목 : Terminator 2: Judgment Day (1991)
81등 영화 제목 : Die Hard: With a Vengeance (1995)
82등 영화 제목 : Matilda (1996)
83등 영화 제목 : Broken Arrow (1996)
84등 영화 제목 : Fear (1996)
85등 영화 제목 : Jackie Chan's First Strike (1996)
86등 영화 제목 : Star Trek: The Motion Picture (1979)
87등 영화 제목 : Mary Poppins (1964)
88등 영화 제목 : Indiana Jones and the Last Crusade (1989)
89등 영화 제목 : Con Air (1997)
90등 영화 제목 : Beauty and the Beast (1991)
91등 영화 제목 : My Fellow Americans (1996)
92등 영화 제목 : Blade Runner (1982)
93등 영화 제목 : Grumpier Old Men (1995)
94등 영화 제목 : Sleepless in Seattle (1993)
95등 영화 제목 : Multiplicity (1996)
96등 영화 제목 : Kiss the Girls (1997)
97등 영화 제목 : Edge, The (1997)
98등 영화 제목 : Dumbo (1941)
99등 영화 제목 : Boogie Nights (1997)
100등 영화 제목 : Copycat (1995)
none

14. other에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Air Force One (1997)
3등 영화 제목 : Scream (1996)
4등 영화 제목 : Liar Liar (1997)
5등 영화 제목 : English Patient, The (1996)
6등 영화 제목 : Return of the Jedi (1983)
7등 영화 제목 : Fargo (1996)
8등 영화 제목 : Contact (1997)
9등 영화 제목 : Godfather, The (1972)
10등 영화 제목 : Toy Story (1995)
11등 영화 제목 : Saint, The (1997)
12등 영화 제목 : Rock, The (1996)
13등 영화 제목 : Raiders of the Lost Ark (1981)
14등 영화 제목 : Jerry Maguire (1996)
15등 영화 제목 : Silence of the Lambs, The (1991)
16등 영화 제목 : Truth About Cats & Dogs, The (1996)
17등 영화 제목 : Titanic (1997)
18등 영화 제목 : Independence Day (ID4) (1996)
19등 영화 제목 : Empire Strikes Back, The (1980)
20등 영화 제목 : Pulp Fiction (1994)
21등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
22등 영화 제목 : Conspiracy Theory (1997)
23등 영화 제목 : Twelve Monkeys (1995)
24등 영화 제목 : Mr. Holland's Opus (1995)
25등 영화 제목 : Dante's Peak (1997)
26등 영화 제목 : Schindler's List (1993)
27등 영화 제목 : Back to the Future (1985)
28등 영화 제목 : Leaving Las Vegas (1995)
29등 영화 제목 : When Harry Met Sally... (1989)
30등 영화 제목 : Ransom (1996)
31등 영화 제목 : E.T. the Extra-Terrestrial (1982)
32등 영화 제목 : Fugitive, The (1993)
33등 영화 제목 : Dead Man Walking (1995)
34등 영화 제목 : Phenomenon (1996)

35등 영화 제목 : Birdcage, The (1996)
36등 영화 제목 : Forrest Gump (1994)
37등 영화 제목 : Apollo 13 (1995)
38등 영화 제목 : Star Trek: First Contact (1996)
39등 영화 제목 : Mission: Impossible (1996)
40등 영화 제목 : Devil's Own, The (1997)
41등 영화 제목 : Princess Bride, The (1987)
42등 영화 제목 : Sense and Sensibility (1995)
43등 영화 제목 : Full Monty, The (1997)
44등 영화 제목 : Die Hard (1988)
45등 영화 제목 : Dances with Wolves (1990)
46등 영화 제목 : Men in Black (1997)
47등 영화 제목 : Twister (1996)
48등 영화 제목 : Groundhog Day (1993)
49등 영화 제목 : Shawshank Redemption, The (1994)
50등 영화 제목 : Terminator, The (1984)
51등 영화 제목 : G.I. Jane (1997)
52등 영화 제목 : Murder at 1600 (1997)
53등 영화 제목 : In & Out (1997)
54등 영화 제목 : Terminator 2: Judgment Day (1991)
55등 영화 제목 : Jurassic Park (1993)
56등 영화 제목 : Lion King, The (1994)
57등 영화 제목 : Dead Poets Society (1989)
58등 영화 제목 : Braveheart (1995)
59등 영화 제목 : Raising Arizona (1987)
60등 영화 제목 : L.A. Confidential (1997)
61등 영화 제목 : Monty Python and the Holy Grail (1974)
62등 영화 제목 : Indiana Jones and the Last Crusade (1989)
63등 영화 제목 : Game, The (1997)
64등 영화 제목 : George of the Jungle (1997)
65등 영화 제목 : Aladdin (1992)
66등 영화 제목 : Time to Kill, A (1996)
67등 영화 제목 : Jaws (1975)
68등 영화 제목 : Amadeus (1984)
69등 영화 제목 : Trainspotting (1996)
70등 영화 제목 : Chasing Amy (1997)
71등 영화 제목 : Primal Fear (1996)
72등 영화 제목 : Sleepless in Seattle (1993)
73등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
74등 영화 제목 : Casablanca (1942)
75등 영화 제목 : Beauty and the Beast (1991)
76등 영화 제목 : Emma (1996)
77등 영화 제목 : Aliens (1986)
78등 영화 제목 : Wizard of Oz, The (1939)
79등 영화 제목 : Fish Called Wanda, A (1988)
80등 영화 제목 : Heat (1995)
81등 영화 제목 : Seven (Se7en) (1995)
82등 영화 제목 : Psycho (1960)
83등 영화 제목 : Usual Suspects, The (1995)
84등 영화 제목 : Star Trek: The Wrath of Khan (1982)
85등 영화 제목 : Blade Runner (1982)
86등 영화 제목 : Ghost (1990)
87등 영화 제목 : It's a Wonderful Life (1946)
88등 영화 제목 : Devil's Advocate, The (1997)
89등 영화 제목 : Alien (1979)
90등 영화 제목 : To Kill a Mockingbird (1962)
91등 영화 제목 : People vs. Larry Flynt, The (1996)
92등 영화 제목 : Sabrina (1995)
93등 영화 제목 : Evita (1996)
94등 영화 제목 : Jungle2Jungle (1997)
95등 영화 제목 : Courage Under Fire (1996)
96등 영화 제목 : Mars Attacks! (1996)
97등 영화 제목 : Everyone Says I Love You (1996)
98등 영화 제목 : Mother (1996)
99등 영화 제목 : GoodFellas (1990)
100등 영화 제목 : Sound of Music, The (1965)
other

15. programmer에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Fargo (1996)
3등 영화 제목 : Return of the Jedi (1983)
4등 영화 제목 : Raiders of the Lost Ark (1981)
5등 영화 제목 : Star Trek: First Contact (1996)
6등 영화 제목 : Liar Liar (1997)
7등 영화 제목 : Empire Strikes Back, The (1980)
8등 영화 제목 : Pulp Fiction (1994)
9등 영화 제목 : Terminator 2: Judgment Day (1991)
10등 영화 제목 : Contact (1997)
11등 영화 제목 : Toy Story (1995)
12등 영화 제목 : Twelve Monkeys (1995)
13등 영화 제목 : Alien (1979)
14등 영화 제목 : Terminator, The (1984)
15등 영화 제목 : Indiana Jones and the Last Crusade (1989)
16등 영화 제목 : Air Force One (1997)
17등 영화 제목 : Monty Python and the Holy Grail (1974)
18등 영화 제목 : Scream (1996)
19등 영화 제목 : Blade Runner (1982)
20등 영화 제목 : Back to the Future (1985)
21등 영화 제목 : Godfather, The (1972)
22등 영화 제목 : Aliens (1986)
23등 영화 제목 : Independence Day (ID4) (1996)
24등 영화 제목 : Silence of the Lambs, The (1991)
25등 영화 제목 : Fugitive, The (1993)
26등 영화 제목 : Princess Bride, The (1987)
27등 영화 제목 : Braveheart (1995)
28등 영화 제목 : Mission: Impossible (1996)
29등 영화 제목 : Rock, The (1996)
30등 영화 제목 : Die Hard (1988)
31등 영화 제목 : Star Trek: The Wrath of Khan (1982)
32등 영화 제목 : Jerry Maguire (1996)
33등 영화 제목 : Men in Black (1997)
34등 영화 제목 : Groundhog Day (1993)
35등 영화 제목 : 2001: A Space Odyssey (1968)
36등 영화 제목 : Speed (1994)
37등 영화 제목 : Seven (Se7en) (1995)
38등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
39등 영화 제목 : Mr. Holland's Opus (1995)
40등 영화 제목 : When Harry Met Sally... (1989)
41등 영화 제목 : Shawshank Redemption, The (1994)
42등 영화 제목 : Amadeus (1984)
43등 영화 제목 : Forrest Gump (1994)
44등 영화 제목 : True Lies (1994)
45등 영화 제목 : Usual Suspects, The (1995)
46등 영화 제목 : English Patient, The (1996)
47등 영화 제목 : Titanic (1997)
48등 영화 제목 : Sting, The (1973)
49등 영화 제목 : E.T. the Extra-Terrestrial (1982)
50등 영화 제목 : Apollo 13 (1995)
51등 영화 제목 : Fish Called Wanda, A (1988)
52등 영화 제목 : Dead Man Walking (1995)
53등 영화 제목 : Jurassic Park (1993)
54등 영화 제목 : Saint, The (1997)
55등 영화 제목 : Twister (1996)
56등 영화 제목 : Four Weddings and a Funeral (1994)
57등 영화 제목 : Brazil (1985)
58등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
59등 영화 제목 : Heathers (1989)
60등 영화 제목 : Jaws (1975)
61등 영화 제목 : GoodFellas (1990)
62등 영화 제목 : Leaving Las Vegas (1995)
63등 영화 제목 : This Is Spinal Tap (1984)
64등 영화 제목 : Wizard of Oz, The (1939)
65등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
66등 영화 제목 : Star Trek IV: The Voyage Home (1986)
67등 영화 제목 : Raising Arizona (1987)
68등 영화 제목 : Broken Arrow (1996)
69등 영화 제목 : Conspiracy Theory (1997)
70등 영화 제목 : Schindler's List (1993)
71등 영화 제목 : Blues Brothers, The (1980)
72등 영화 제목 : Birdcage, The (1996)
73등 영화 제목 : Get Shorty (1995)
74등 영화 제목 : Batman (1989)
75등 영화 제목 : Rumble in the Bronx (1995)
76등 영화 제목 : Hunt for Red October, The (1990)
77등 영화 제목 : L.A. Confidential (1997)
78등 영화 제목 : Dead Poets Society (1989)
79등 영화 제목 : Aladdin (1992)
80등 영화 제목 : Full Monty, The (1997)
81등 영화 제목 : Apocalypse Now (1979)
82등 영화 제목 : Eraser (1996)
83등 영화 제목 : Dances with Wolves (1990)
84등 영화 제목 : Phenomenon (1996)
85등 영화 제목 : Ransom (1996)
86등 영화 제목 : Lawrence of Arabia (1962)
87등 영화 제목 : Trainspotting (1996)
88등 영화 제목 : Young Frankenstein (1974)
89등 영화 제목 : Shining, The (1980)
90등 영화 제목 : Full Metal Jacket (1987)
91등 영화 제목 : Die Hard 2 (1990)
92등 영화 제목 : Fantasia (1940)
93등 영화 제목 : Gandhi (1982)
94등 영화 제목 : Chinatown (1974)
95등 영화 제목 : Top Gun (1986)
96등 영화 제목 : Heat (1995)
97등 영화 제목 : Casablanca (1942)
98등 영화 제목 : Godfather: Part II, The (1974)
99등 영화 제목 : Graduate, The (1967)
100등 영화 제목 : Fifth Element, The (1997)
programmer

16. retired에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Fargo (1996)
2등 영화 제목 : Liar Liar (1997)
3등 영화 제목 : Jerry Maguire (1996)
4등 영화 제목 : Godfather, The (1972)
5등 영화 제목 : Star Wars (1977)
6등 영화 제목 : M*A*S*H (1970)
7등 영화 제목 : English Patient, The (1996)
8등 영화 제목 : Secrets & Lies (1996)
9등 영화 제목 : When Harry Met Sally... (1989)
10등 영화 제목 : Titanic (1997)
11등 영화 제목 : Murder at 1600 (1997)
12등 영화 제목 : Contact (1997)
13등 영화 제목 : Men in Black (1997)
14등 영화 제목 : American President, The (1995)
15등 영화 제목 : Babe (1995)
16등 영화 제목 : Schindler's List (1993)
17등 영화 제목 : Leaving Las Vegas (1995)
18등 영화 제목 : Amadeus (1984)
19등 영화 제목 : Evita (1996)
20등 영화 제목 : Four Weddings and a Funeral (1994)
21등 영화 제목 : Independence Day (ID4) (1996)
22등 영화 제목 : Sleepless in Seattle (1993)
23등 영화 제목 : Scream (1996)
24등 영화 제목 : Mr. Holland's Opus (1995)
25등 영화 제목 : Shawshank Redemption, The (1994)
26등 영화 제목 : Dead Man Walking (1995)
27등 영화 제목 : Devil's Advocate, The (1997)
28등 영화 제목 : Pulp Fiction (1994)
29등 영화 제목 : Room with a View, A (1986)
30등 영화 제목 : Indiana Jones and the Last Crusade (1989)
31등 영화 제목 : Return of the Jedi (1983)
32등 영화 제목 : Patton (1970)
33등 영화 제목 : On Golden Pond (1981)
34등 영화 제목 : Back to the Future (1985)
35등 영화 제목 : Mother (1996)
36등 영화 제목 : Get Shorty (1995)
37등 영화 제목 : Mrs. Doubtfire (1993)
38등 영화 제목 : Graduate, The (1967)
39등 영화 제목 : Sting, The (1973)
40등 영화 제목 : Raiders of the Lost Ark (1981)
41등 영화 제목 : Alien (1979)
42등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
43등 영화 제목 : L.A. Confidential (1997)
44등 영화 제목 : In & Out (1997)
45등 영화 제목 : Birdcage, The (1996)
46등 영화 제목 : Rock, The (1996)
47등 영화 제목 : Usual Suspects, The (1995)
48등 영화 제목 : Emma (1996)
49등 영화 제목 : Vertigo (1958)
50등 영화 제목 : Chinatown (1974)
51등 영화 제목 : Tin Men (1987)
52등 영화 제목 : Tin Cup (1996)
53등 영화 제목 : Manhattan (1979)
54등 영화 제목 : Air Force One (1997)
55등 영화 제목 : Forrest Gump (1994)
56등 영화 제목 : North by Northwest (1959)
57등 영화 제목 : High Noon (1952)
58등 영화 제목 : Fried Green Tomatoes (1991)
59등 영화 제목 : Sense and Sensibility (1995)
60등 영화 제목 : Sabrina (1995)
61등 영화 제목 : Picnic (1955)
62등 영화 제목 : Volcano (1997)
63등 영화 제목 : Dead Poets Society (1989)
64등 영화 제목 : Game, The (1997)
65등 영화 제목 : Wag the Dog (1997)
66등 영화 제목 : Blues Brothers, The (1980)
67등 영화 제목 : Psycho (1960)
68등 영화 제목 : Groundhog Day (1993)
69등 영화 제목 : Arsenic and Old Lace (1944)
70등 영화 제목 : While You Were Sleeping (1995)
71등 영화 제목 : Victor/Victoria (1982)
72등 영화 제목 : Raising Arizona (1987)
73등 영화 제목 : Dave (1993)
74등 영화 제목 : Quiet Man, The (1952)
75등 영화 제목 : Pretty Woman (1990)
76등 영화 제목 : Face/Off (1997)
77등 영화 제목 : Braveheart (1995)
78등 영화 제목 : George of the Jungle (1997)
79등 영화 제목 : Good Will Hunting (1997)
80등 영화 제목 : Absolute Power (1997)
81등 영화 제목 : Hunt for Red October, The (1990)
82등 영화 제목 : Manchurian Candidate, The (1962)
83등 영화 제목 : Young Frankenstein (1974)
84등 영화 제목 : Firm, The (1993)
85등 영화 제목 : Full Monty, The (1997)
86등 영화 제목 : Being There (1979)
87등 영화 제목 : GoodFellas (1990)
88등 영화 제목 : Clear and Present Danger (1994)
89등 영화 제목 : Clockwork Orange, A (1971)
90등 영화 제목 : To Kill a Mockingbird (1962)
91등 영화 제목 : Broken Arrow (1996)
92등 영화 제목 : Around the World in 80 Days (1956)
93등 영화 제목 : Courage Under Fire (1996)
94등 영화 제목 : E.T. the Extra-Terrestrial (1982)
95등 영화 제목 : Annie Hall (1977)
96등 영화 제목 : Top Gun (1986)
97등 영화 제목 : Fish Called Wanda, A (1988)
98등 영화 제목 : Die Hard (1988)
99등 영화 제목 : Jean de Florette (1986)
100등 영화 제목 : Wild Bunch, The (1969)
retired

17. salesman에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Liar Liar (1997)
2등 영화 제목 : English Patient, The (1996)
3등 영화 제목 : Cop Land (1997)
4등 영화 제목 : Titanic (1997)
5등 영화 제목 : Air Force One (1997)
6등 영화 제목 : Broken Arrow (1996)
7등 영화 제목 : Pulp Fiction (1994)
8등 영화 제목 : Star Wars (1977)
9등 영화 제목 : Dante's Peak (1997)
10등 영화 제목 : Saint, The (1997)
11등 영화 제목 : Devil's Own, The (1997)
12등 영화 제목 : Return of the Jedi (1983)
13등 영화 제목 : Rock, The (1996)
14등 영화 제목 : Independence Day (ID4) (1996)
15등 영화 제목 : Shawshank Redemption, The (1994)
16등 영화 제목 : Scream (1996)
17등 영화 제목 : Silence of the Lambs, The (1991)
18등 영화 제목 : Leaving Las Vegas (1995)
19등 영화 제목 : Godfather, The (1972)
20등 영화 제목 : Ransom (1996)
21등 영화 제목 : Dead Man Walking (1995)
22등 영화 제목 : Cape Fear (1991)
23등 영화 제목 : Young Frankenstein (1974)
24등 영화 제목 : Men in Black (1997)
25등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
26등 영화 제목 : Get Shorty (1995)
27등 영화 제목 : Jerry Maguire (1996)
28등 영화 제목 : Toy Story (1995)
29등 영화 제목 : Forrest Gump (1994)
30등 영화 제목 : Game, The (1997)
31등 영화 제목 : Volcano (1997)
32등 영화 제목 : Monty Python and the Holy Grail (1974)
33등 영화 제목 : Kiss the Girls (1997)
34등 영화 제목 : Princess Bride, The (1987)
35등 영화 제목 : Birds, The (1963)
36등 영화 제목 : Raiders of the Lost Ark (1981)
37등 영화 제목 : Birdcage, The (1996)
38등 영화 제목 : While You Were Sleeping (1995)
39등 영화 제목 : Usual Suspects, The (1995)
40등 영화 제목 : Grease (1978)
41등 영화 제목 : Jackie Chan's First Strike (1996)
42등 영화 제목 : Stand by Me (1986)
43등 영화 제목 : Sneakers (1992)
44등 영화 제목 : Raising Arizona (1987)
45등 영화 제목 : Psycho (1960)
46등 영화 제목 : Like Water For Chocolate (Como agua para chocolate) (1992)
47등 영화 제목 : Amistad (1997)
48등 영화 제목 : Tomorrow Never Dies (1997)
49등 영화 제목 : Groundhog Day (1993)
50등 영화 제목 : Blues Brothers, The (1980)
51등 영화 제목 : Young Guns (1988)

52등 영화 제목 : Sting, The (1973)
53등 영화 제목 : Star Trek: First Contact (1996)
54등 영화 제목 : Monty Python's Life of Brian (1979)
55등 영화 제목 : Nine Months (1995)
56등 영화 제목 : When Harry Met Sally... (1989)
57등 영화 제목 : Field of Dreams (1989)
58등 영화 제목 : Indiana Jones and the Last Crusade (1989)
59등 영화 제목 : Four Weddings and a Funeral (1994)
60등 영화 제목 : Shining, The (1980)
61등 영화 제목 : Back to the Future (1985)
62등 영화 제목 : Fugitive, The (1993)
63등 영화 제목 : Beavis and Butt-head Do America (1996)
64등 영화 제목 : Tin Cup (1996)
65등 영화 제목 : Sleepless in Seattle (1993)
66등 영화 제목 : Booty Call (1997)
67등 영화 제목 : Crash (1996)
68등 영화 제목 : Sense and Sensibility (1995)
69등 영화 제목 : Full Monty, The (1997)
70등 영화 제목 : L.A. Confidential (1997)
71등 영화 제목 : That Thing You Do! (1996)
72등 영화 제목 : Boogie Nights (1997)
73등 영화 제목 : Mrs. Doubtfire (1993)
74등 영화 제목 : Truth About Cats & Dogs, The (1996)
75등 영화 제목 : Home Alone (1990)
76등 영화 제목 : Midnight in the Garden of Good and Evil (1997)
77등 영화 제목 : Jackie Brown (1997)
78등 영화 제목 : Mission: Impossible (1996)
79등 영화 제목 : Wag the Dog (1997)
80등 영화 제목 : Blade Runner (1982)
81등 영화 제목 : Twister (1996)
82등 영화 제목 : Contact (1997)
83등 영화 제목 : Fargo (1996)
84등 영화 제목 : Evita (1996)
85등 영화 제목 : Unforgiven (1992)
86등 영화 제목 : Waterworld (1995)
87등 영화 제목 : Spawn (1997)
88등 영화 제목 : Natural Born Killers (1994)
89등 영화 제목 : Interview with the Vampire (1994)
90등 영화 제목 : Conspiracy Theory (1997)
91등 영화 제목 : Bridge on the River Kwai, The (1957)
92등 영화 제목 : Graduate, The (1967)
93등 영화 제목 : Lost World: Jurassic Park, The (1997)
94등 영화 제목 : Terminator, The (1984)
95등 영화 제목 : Primal Fear (1996)
96등 영화 제목 : Fly Away Home (1996)
97등 영화 제목 : Brazil (1985)
98등 영화 제목 : Rainmaker, The (1997)
99등 영화 제목 : Eraser (1996)
100등 영화 제목 : Ulee's Gold (1997)
salesman

18. scientist에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Fargo (1996)
3등 영화 제목 : Contact (1997)
4등 영화 제목 : English Patient, The (1996)
5등 영화 제목 : Return of the Jedi (1983)
6등 영화 제목 : Pulp Fiction (1994)
7등 영화 제목 : Silence of the Lambs, The (1991)
8등 영화 제목 : Godfather, The (1972)
9등 영화 제목 : Leaving Las Vegas (1995)
10등 영화 제목 : Independence Day (ID4) (1996)
11등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
12등 영화 제목 : Jerry Maguire (1996)
13등 영화 제목 : Scream (1996)
14등 영화 제목 : Raiders of the Lost Ark (1981)
15등 영화 제목 : Toy Story (1995)
16등 영화 제목 : L.A. Confidential (1997)
17등 영화 제목 : Liar Liar (1997)
18등 영화 제목 : Air Force One (1997)
19등 영화 제목 : Conspiracy Theory (1997)
20등 영화 제목 : Usual Suspects, The (1995)
21등 영화 제목 : Titanic (1997)
22등 영화 제목 : Graduate, The (1967)
23등 영화 제목 : Heat (1995)
24등 영화 제목 : Star Trek: First Contact (1996)
25등 영화 제목 : Forrest Gump (1994)
26등 영화 제목 : Rock, The (1996)
27등 영화 제목 : Back to the Future (1985)
28등 영화 제목 : Terminator 2: Judgment Day (1991)
29등 영화 제목 : Evita (1996)
30등 영화 제목 : Sense and Sensibility (1995)
31등 영화 제목 : Annie Hall (1977)
32등 영화 제목 : Casablanca (1942)
33등 영화 제목 : Jaws (1975)
34등 영화 제목 : Braveheart (1995)
35등 영화 제목 : Indiana Jones and the Last Crusade (1989)
36등 영화 제목 : Boot, Das (1981)
37등 영화 제목 : Saint, The (1997)
38등 영화 제목 : Aliens (1986)
39등 영화 제목 : Amadeus (1984)
40등 영화 제목 : Truth About Cats & Dogs, The (1996)
41등 영화 제목 : Empire Strikes Back, The (1980)
42등 영화 제목 : Monty Python and the Holy Grail (1974)
43등 영화 제목 : Terminator, The (1984)
44등 영화 제목 : Groundhog Day (1993)
45등 영화 제목 : Apollo 13 (1995)
46등 영화 제목 : Fish Called Wanda, A (1988)
47등 영화 제목 : Wizard of Oz, The (1939)
48등 영화 제목 : Die Hard (1988)
49등 영화 제목 : Postino, Il (1994)
50등 영화 제목 : Full Monty, The (1997)
51등 영화 제목 : Big Night (1996)
52등 영화 제목 : Schindler's List (1993)
53등 영화 제목 : 2001: A Space Odyssey (1968)
54등 영화 제목 : Boogie Nights (1997)
55등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
56등 영화 제목 : Mission: Impossible (1996)
57등 영화 제목 : E.T. the Extra-Terrestrial (1982)
58등 영화 제목 : Gattaca (1997)
59등 영화 제목 : Good Will Hunting (1997)
60등 영화 제목 : Chasing Amy (1997)
61등 영화 제목 : Dead Man Walking (1995)
62등 영화 제목 : Brazil (1985)
63등 영화 제목 : Men in Black (1997)
64등 영화 제목 : Shawshank Redemption, The (1994)
65등 영화 제목 : Raising Arizona (1987)
66등 영화 제목 : Twelve Monkeys (1995)
67등 영화 제목 : Seven (Se7en) (1995)
68등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
69등 영화 제목 : Like Water For Chocolate (Como agua para chocolate) (1992)
70등 영화 제목 : M*A*S*H (1970)
71등 영화 제목 : Fugitive, The (1993)
72등 영화 제목 : When Harry Met Sally... (1989)
73등 영화 제목 : Blues Brothers, The (1980)
74등 영화 제목 : Game, The (1997)
75등 영화 제목 : People vs. Larry Flynt, The (1996)
76등 영화 제목 : Blade Runner (1982)
77등 영화 제목 : Sleepless in Seattle (1993)
78등 영화 제목 : Princess Bride, The (1987)
79등 영화 제목 : Gone with the Wind (1939)
80등 영화 제목 : Piano, The (1993)
81등 영화 제목 : Volcano (1997)
82등 영화 제목 : Four Weddings and a Funeral (1994)
83등 영화 제목 : Glory (1989)
84등 영화 제목 : Mighty Aphrodite (1995)
85등 영화 제목 : It's a Wonderful Life (1946)
86등 영화 제목 : African Queen, The (1951)
87등 영화 제목 : Sound of Music, The (1965)
88등 영화 제목 : Citizen Kane (1941)
89등 영화 제목 : Trainspotting (1996)
90등 영화 제목 : Clerks (1994)
91등 영화 제목 : Cop Land (1997)
92등 영화 제목 : Ulee's Gold (1997)
93등 영화 제목 : Mr. Holland's Opus (1995)
94등 영화 제목 : Swingers (1996)
95등 영화 제목 : Starship Troopers (1997)
96등 영화 제목 : Hunt for Red October, The (1990)
97등 영화 제목 : Fifth Element, The (1997)
98등 영화 제목 : Amistad (1997)
99등 영화 제목 : Alien (1979)
100등 영화 제목 : Taxi Driver (1976)
scientist

19. student에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Scream (1996)
2등 영화 제목 : Star Wars (1977)
3등 영화 제목 : Return of the Jedi (1983)
4등 영화 제목 : Contact (1997)
5등 영화 제목 : Liar Liar (1997)
6등 영화 제목 : Independence Day (ID4) (1996)
7등 영화 제목 : Twelve Monkeys (1995)
8등 영화 제목 : Toy Story (1995)
9등 영화 제목 : Rock, The (1996)
10등 영화 제목 : Fargo (1996)
11등 영화 제목 : Pulp Fiction (1994)
12등 영화 제목 : Mission: Impossible (1996)
13등 영화 제목 : Empire Strikes Back, The (1980)
14등 영화 제목 : Raiders of the Lost Ark (1981)
15등 영화 제목 : Jerry Maguire (1996)
16등 영화 제목 : Star Trek: First Contact (1996)
17등 영화 제목 : Princess Bride, The (1987)
18등 영화 제목 : Silence of the Lambs, The (1991)
19등 영화 제목 : Back to the Future (1985)
20등 영화 제목 : Titanic (1997)
21등 영화 제목 : Indiana Jones and the Last Crusade (1989)
22등 영화 제목 : Air Force One (1997)
23등 영화 제목 : Godfather, The (1972)
24등 영화 제목 : Fugitive, The (1993)
25등 영화 제목 : Terminator 2: Judgment Day (1991)
26등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
27등 영화 제목 : Monty Python and the Holy Grail (1974)
28등 영화 제목 : Men in Black (1997)
29등 영화 제목 : Twister (1996)
30등 영화 제목 : Braveheart (1995)
31등 영화 제목 : English Patient, The (1996)
32등 영화 제목 : Terminator, The (1984)
33등 영화 제목 : Broken Arrow (1996)
34등 영화 제목 : Birdcage, The (1996)
35등 영화 제목 : Forrest Gump (1994)
36등 영화 제목 : Seven (Se7en) (1995)
37등 영화 제목 : Ransom (1996)
38등 영화 제목 : Saint, The (1997)
39등 영화 제목 : Time to Kill, A (1996)
40등 영화 제목 : Jurassic Park (1993)
41등 영화 제목 : Speed (1994)
42등 영화 제목 : Chasing Amy (1997)
43등 영화 제목 : Trainspotting (1996)
44등 영화 제목 : E.T. the Extra-Terrestrial (1982)
45등 영화 제목 : Schindler's List (1993)
46등 영화 제목 : Usual Suspects, The (1995)
47등 영화 제목 : Rumble in the Bronx (1995)
48등 영화 제목 : Conspiracy Theory (1997)
49등 영화 제목 : Shawshank Redemption, The (1994)
50등 영화 제목 : Truth About Cats & Dogs, The (1996)
51등 영화 제목 : Apollo 13 (1995)
52등 영화 제목 : Groundhog Day (1993)
53등 영화 제목 : Mr. Holland's Opus (1995)
54등 영화 제목 : Aliens (1986)
55등 영화 제목 : Jaws (1975)
56등 영화 제목 : Aladdin (1992)
57등 영화 제목 : Phenomenon (1996)
58등 영화 제목 : Eraser (1996)
59등 영화 제목 : Heat (1995)
60등 영화 제목 : Happy Gilmore (1996)
61등 영화 제목 : Nutty Professor, The (1996)
62등 영화 제목 : True Lies (1994)
63등 영화 제목 : Alien (1979)
64등 영화 제목 : Mars Attacks! (1996)
65등 영화 제목 : Top Gun (1986)
66등 영화 제목 : Leaving Las Vegas (1995)
67등 영화 제목 : Game, The (1997)
68등 영화 제목 : Blues Brothers, The (1980)
69등 영화 제목 : Fifth Element, The (1997)
70등 영화 제목 : Dances with Wolves (1990)
71등 영화 제목 : Batman (1989)
72등 영화 제목 : Face/Off (1997)
73등 영화 제목 : Die Hard (1988)
74등 영화 제목 : Courage Under Fire (1996)
75등 영화 제목 : Evita (1996)
76등 영화 제목 : Blade Runner (1982)
77등 영화 제목 : Hunt for Red October, The (1990)
78등 영화 제목 : Long Kiss Goodnight, The (1996)
79등 영화 제목 : Beauty and the Beast (1991)
80등 영화 제목 : People vs. Larry Flynt, The (1996)
81등 영화 제목 : Dead Man Walking (1995)
82등 영화 제목 : Babe (1995)
83등 영화 제목 : Sense and Sensibility (1995)
84등 영화 제목 : Starship Troopers (1997)
85등 영화 제목 : Lion King, The (1994)
86등 영화 제목 : Beavis and Butt-head Do America (1996)
87등 영화 제목 : Star Trek: The Wrath of Khan (1982)
88등 영화 제목 : When Harry Met Sally... (1989)
89등 영화 제목 : Mrs. Doubtfire (1993)
90등 영화 제목 : Four Weddings and a Funeral (1994)
91등 영화 제목 : Dead Poets Society (1989)
92등 영화 제목 : Sound of Music, The (1965)
93등 영화 제목 : Psycho (1960)
94등 영화 제목 : Raising Arizona (1987)
95등 영화 제목 : L.A. Confidential (1997)
96등 영화 제목 : Clockwork Orange, A (1971)
97등 영화 제목 : Star Trek IV: The Voyage Home (1986)
98등 영화 제목 : Stand by Me (1986)
99등 영화 제목 : In & Out (1997)
100등 영화 제목 : Austin Powers: International Man of Mystery (1997)
student

20. technician에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Star Wars (1977)
2등 영화 제목 : Return of the Jedi (1983)
3등 영화 제목 : Fargo (1996)
4등 영화 제목 : Independence Day (ID4) (1996)
5등 영화 제목 : Toy Story (1995)
6등 영화 제목 : Raiders of the Lost Ark (1981)
7등 영화 제목 : Contact (1997)
8등 영화 제목 : Liar Liar (1997)

9등 영화 제목 : Silence of the Lambs, The (1991)
10등 영화 제목 : Star Trek: First Contact (1996)
11등 영화 제목 : Monty Python and the Holy Grail (1974)
12등 영화 제목 : Empire Strikes Back, The (1980)
13등 영화 제목 : Terminator 2: Judgment Day (1991)
14등 영화 제목 : Dances with Wolves (1990)
15등 영화 제목 : Mission: Impossible (1996)
16등 영화 제목 : Forrest Gump (1994)
17등 영화 제목 : Pulp Fiction (1994)
18등 영화 제목 : Braveheart (1995)
19등 영화 제목 : Young Frankenstein (1974)
20등 영화 제목 : Fugitive, The (1993)
21등 영화 제목 : Alien (1979)
22등 영화 제목 : Scream (1996)
23등 영화 제목 : 2001: A Space Odyssey (1968)
24등 영화 제목 : Indiana Jones and the Last Crusade (1989)
25등 영화 제목 : Star Trek: The Wrath of Khan (1982)
26등 영화 제목 : Terminator, The (1984)
27등 영화 제목 : Amadeus (1984)
28등 영화 제목 : Rock, The (1996)
29등 영화 제목 : Godfather, The (1972)
30등 영화 제목 : English Patient, The (1996)
31등 영화 제목 : Jurassic Park (1993)
32등 영화 제목 : Conspiracy Theory (1997)
33등 영화 제목 : Princess Bride, The (1987)
34등 영화 제목 : Lion King, The (1994)
35등 영화 제목 : Air Force One (1997)
36등 영화 제목 : Aliens (1986)
37등 영화 제목 : Twelve Monkeys (1995)
38등 영화 제목 : Blade Runner (1982)
39등 영화 제목 : Die Hard (1988)
40등 영화 제목 : Dead Poets Society (1989)
41등 영화 제목 : Hunt for Red October, The (1990)
42등 영화 제목 : Apollo 13 (1995)
43등 영화 제목 : Top Gun (1986)
44등 영화 제목 : Back to the Future (1985)
45등 영화 제목 : One Flew Over the Cuckoo's Nest (1975)
46등 영화 제목 : Right Stuff, The (1983)
47등 영화 제목 : When Harry Met Sally... (1989)
48등 영화 제목 : Fifth Element, The (1997)
49등 영화 제목 : Mr. Holland's Opus (1995)
50등 영화 제목 : Devil's Own, The (1997)
51등 영화 제목 : Jaws (1975)
52등 영화 제목 : Beavis and Butt-head Do America (1996)
53등 영화 제목 : Starship Troopers (1997)
54등 영화 제목 : Broken Arrow (1996)
55등 영화 제목 : Volcano (1997)
56등 영화 제목 : Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
57등 영화 제목 : Tomorrow Never Dies (1997)
58등 영화 제목 : Full Metal Jacket (1987)
59등 영화 제목 : Bridge on the River Kwai, The (1957)
60등 영화 제목 : Groundhog Day (1993)
61등 영화 제목 : Time to Kill, A (1996)
62등 영화 제목 : Ransom (1996)
63등 영화 제목 : This Is Spinal Tap (1984)
64등 영화 제목 : Jerry Maguire (1996)
65등 영화 제목 : Mars Attacks! (1996)
66등 영화 제목 : M*A*S*H (1970)
67등 영화 제목 : Young Guns (1988)
68등 영화 제목 : Batman Returns (1992)
69등 영화 제목 : Schindler's List (1993)
70등 영화 제목 : Titanic (1997)
71등 영화 제목 : Birdcage, The (1996)
72등 영화 제목 : Blues Brothers, The (1980)
73등 영화 제목 : Brazil (1985)
74등 영화 제목 : Dead Man Walking (1995)
75등 영화 제목 : Aladdin (1992)
76등 영화 제목 : Truth About Cats & Dogs, The (1996)
77등 영화 제목 : Clockwork Orange, A (1971)
78등 영화 제목 : Wizard of Oz, The (1939)
79등 영화 제목 : Saint, The (1997)
80등 영화 제목 : Raising Arizona (1987)
81등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
82등 영화 제목 : Men in Black (1997)
83등 영화 제목 : Event Horizon (1997)
84등 영화 제목 : Chasing Amy (1997)
85등 영화 제목 : Phenomenon (1996)
86등 영화 제목 : Godfather: Part II, The (1974)
87등 영화 제목 : Face/Off (1997)
88등 영화 제목 : Die Hard 2 (1990)
89등 영화 제목 : Twister (1996)
90등 영화 제목 : Game, The (1997)
91등 영화 제목 : Courage Under Fire (1996)
92등 영화 제목 : Trainspotting (1996)
93등 영화 제목 : North by Northwest (1959)
94등 영화 제목 : Casablanca (1942)
95등 영화 제목 : Stand by Me (1986)
96등 영화 제목 : Speed (1994)
97등 영화 제목 : Shawshank Redemption, The (1994)
98등 영화 제목 : Fish Called Wanda, A (1988)
99등 영화 제목 : Crimson Tide (1995)
100등 영화 제목 : Graduate, The (1967)
technician

21. writer에게 가장 시청률이 높은 영화 TOP 100

1등 영화 제목 : Scream (1996)
2등 영화 제목 : Fargo (1996)
3등 영화 제목 : Star Wars (1977)
4등 영화 제목 : English Patient, The (1996)
5등 영화 제목 : Liar Liar (1997)
6등 영화 제목 : Return of the Jedi (1983)
7등 영화 제목 : Contact (1997)
8등 영화 제목 : Silence of the Lambs, The (1991)
9등 영화 제목 : Godfather, The (1972)
10등 영화 제목 : L.A. Confidential (1997)
11등 영화 제목 : Raiders of the Lost Ark (1981)
12등 영화 제목 : Air Force One (1997)
13등 영화 제목 : Titanic (1997)
14등 영화 제목 : Conspiracy Theory (1997)
15등 영화 제목 : Back to the Future (1985)
16등 영화 제목 : Aliens (1986)
17등 영화 제목 : Men in Black (1997)
18등 영화 제목 : Twelve Monkeys (1995)
19등 영화 제목 : E.T. the Extra-Terrestrial (1982)
20등 영화 제목 : Star Trek: First Contact (1996)
21등 영화 제목 : Dante's Peak (1997)
22등 영화 제목 : Indiana Jones and the Last Crusade (1989)
23등 영화 제목 : Jaws (1975)
24등 영화 제목 : Full Monty, The (1997)
25등 영화 제목 : Birds, The (1963)
26등 영화 제목 : Trainspotting (1996)
27등 영화 제목 : Pulp Fiction (1994)
28등 영화 제목 : Fugitive, The (1993)
29등 영화 제목 : Alien (1979)
30등 영화 제목 : Usual Suspects, The (1995)
31등 영화 제목 : Independence Day (ID4) (1996)
32등 영화 제목 : Princess Bride, The (1987)
33등 영화 제목 : Rear Window (1954)
34등 영화 제목 : Empire Strikes Back, The (1980)
35등 영화 제목 : Willy Wonka and the Chocolate Factory (1971)
36등 영화 제목 : Fish Called Wanda, A (1988)
37등 영화 제목 : Sense and Sensibility (1995)
38등 영화 제목 : Starship Troopers (1997)
39등 영화 제목 : Toy Story (1995)
40등 영화 제목 : Psycho (1960)
41등 영화 제목 : Dead Man Walking (1995)
42등 영화 제목 : North by Northwest (1959)
43등 영화 제목 : This Is Spinal Tap (1984)
44등 영화 제목 : Raising Arizona (1987)
45등 영화 제목 : Citizen Kane (1941)
46등 영화 제목 : Twister (1996)
47등 영화 제목 : To Kill a Mockingbird (1962)
48등 영화 제목 : Sting, The (1973)
49등 영화 제목 : Apollo 13 (1995)
50등 영화 제목 : Vertigo (1958)
51등 영화 제목 : Game, The (1997)
52등 영화 제목 : Devil's Advocate, The (1997)
53등 영화 제목 : Volcano (1997)
54등 영화 제목 : Boogie Nights (1997)
55등 영화 제목 : Mission: Impossible (1996)
56등 영화 제목 : Chasing Amy (1997)
57등 영화 제목 : Monty Python and the Holy Grail (1974)
58등 영화 제목 : Blues Brothers, The (1980)
59등 영화 제목 : Abyss, The (1989)
60등 영화 제목 : Jerry Maguire (1996)
61등 영화 제목 : Lone Star (1996)
62등 영화 제목 : Groundhog Day (1993)
63등 영화 제목 : Postino, Il (1994)
64등 영화 제목 : Boot, Das (1981)
65등 영화 제목 : Godfather: Part II, The (1974)
66등 영화 제목 : Mr. Holland's Opus (1995)
67등 영화 제목 : Butch Cassidy and the Sundance Kid (1969)
68등 영화 제목 : Graduate, The (1967)
69등 영화 제목 : Shining, The (1980)
70등 영화 제목 : M*A*S*H (1970)
71등 영화 제목 : When Harry Met Sally... (1989)
72등 영화 제목 : Murder at 1600 (1997)
73등 영화 제목 : Taxi Driver (1976)
74등 영화 제목 : Singin' in the Rain (1952)
75등 영화 제목 : Ransom (1996)
76등 영화 제목 : Heat (1995)
77등 영화 제목 : Evita (1996)
78등 영화 제목 : Rock, The (1996)
79등 영화 제목 : Natural Born Killers (1994)
80등 영화 제목 : Forrest Gump (1994)
81등 영화 제목 : Primal Fear (1996)
82등 영화 제목 : Saint, The (1997)
83등 영화 제목 : Broken Arrow (1996)
84등 영화 제목 : Secrets & Lies (1996)
85등 영화 제목 : Terminator, The (1984)
86등 영화 제목 : Apocalypse Now (1979)
87등 영화 제목 : Amadeus (1984)
88등 영화 제목 : Grease (1978)
89등 영화 제목 : Emma (1996)
90등 영화 제목 : Unforgiven (1992)
91등 영화 제목 : Crash (1996)
92등 영화 제목 : Cape Fear (1991)
93등 영화 제목 : Devil's Own, The (1997)
94등 영화 제목 : Jurassic Park (1993)
95등 영화 제목 : Face/Off (1997)
96등 영화 제목 : River Wild, The (1994)
97등 영화 제목 : Babe (1995)
98등 영화 제목 : Batman (1989)
99등 영화 제목 : GoodFellas (1990)
100등 영화 제목 : Bram Stoker's Dracula (1992)
writer